<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Title</title>
</head>
<body>
<th:block th:include="~{fragments/navbar-top}"></th:block>
<div class="w3-container w3-content" style="max-width:100vh;padding: 3%;margin-top:50px">
    <div class="w3-row">
        <div class="w3-card w3-round w3-white w3-center">
                <div class="col-md-6 col-md-offset-3">
                    <div th:if="${citiesList.isEmpty()}">
                        <h2 th:text="#{cityTable.header.noCities}">No Cities</h2>
                    </div>
                    <h2 class="header" th:text="#{city.header.cityName}">Cities (design)</h2>
                </div>
            </div>
        </div>
    </div>

<div class="w3-container w3-content" style="max-width:100vh;padding: 3%;margin-top:50px">
    <div class="w3-row">
        <div class="w3-card w3-round w3-white w3-center">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div th:unless="${citiesList.isEmpty()}">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th style="padding-top: 60px">Name</th>
                                <th style="padding-top: 60px">Country</th>
                                <th style="padding-top: 60px" sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
                                <th style="padding-top: 60px" sec:authorize="isAuthenticated()">Update</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="city : ${citiesList}">
                                <td th:text="${city.cityName}"></td>
                                <td th:text="${city.getCountry().getCountryName()}"></td>
                                <td>
                                    <div sec:authorize="isAuthenticated()">
                                        <a th:href="@{/cities/update/{id}(id=${city.cityId})}" class="btn btn-warning">
                                            <i class="w3-button w3-theme-d2 w3-margin-bottom">update</i></a>
                                    </div>
                                </td>
                                <td>
                                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                                        <a th:href="@{/cities/delete/{id}(id=${city.cityId})}"
                                           class="btn btn-warning"><i
                                                class="w3-button w3-theme-d2 w3-margin-bottom">delete</i></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div>
                                <a th:href="@{/cities/new}" class="btn btn-warning" sec:authorize="isAuthenticated()">
                                    <i class="w3-button w3-theme-d2 w3-margin-bottom">Add New City</i></a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="~{fragments/footer}"></th:block>
<th:block th:include="~{fragments/scripts}"></th:block>
</body>
</html>