<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="icon" type="image/png" th:href="@{/pictures/fav.png}" href="../static/pictures/fav.png">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/w3.css}" type="text/css" href="../static/css/w3.css">
    <link rel="stylesheet" th:href="@{/css/color-theme.css}" type="text/css" href="../static/css/color-theme.css">
    <link rel="stylesheet" th:href="@{/css/css_googleapis_open_sans.css}" type="text/css"
          href="../static/css/css_googleapis_open_sans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Create post</title>
</head>
<body>
<div id="background-page" th:style="'background-image: url(' + '/pictures/background2.jpg' + ');'"
     style="background-image: url(../static/pictures/background2.jpg); min-height: 100vh">
    <!-- NAVBAR START -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
               href="javascript:void(0);" onclick="openNav()">
                <em class="fa fa-bars"></em>
            </a>

            <a href="index.html" th:href="@{/}"
               class="w3-bar-item w3-button w3-padding-large w3-theme-d4">
                <em class="fa fa-home w3-margin-right"></em>Funimation
            </a>
            <div class="modal" id="searchingNow">
                <!-- Modal content -->
                <div class="modal-content" id="modalSearching">
                    <img th:attr="src=@{/pictures/searching.gif}"
                         src="../static/pictures/searching.gif"
                         style="margin-left: 40%; justify-content: center;"></img>
                </div>
            </div>

            <a sec:authorize="isAuthenticated()" href="index1_model.html" th:href="@{/index1}"
               class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News">
                <em class="fa fa-globe"></em>
            </a>

            <a href="#" sec:authorize="isAuthenticated()" th:href="@{/myPage/{id}(id=${user.userId})}"
               class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
               title="My page"><em class="fa fa-address-card-o"></em></a>

            <!--middle of navbar-->
            <div class="w3-dropdown-hover w3-hide-small w3-right">
                <a href="#" sec:authorize="isAuthenticated()" class="w3-button w3-padding-large">
                    <img th:src="${(user.getPhoto().getPhotoSrc())}" class="w3-circle" style="height: 23px; width: 23px"
                         alt="Avatar">
                </a>
                <div sec:authorize="isAuthenticated()" class="w3-dropdown-content w3-card-4 w3-bar-block"
                     style="right: 0">
                    <a th:href="@{/myPage/{id}(id=${user.userId})}" class="w3-bar-item w3-button">My Account</a>
                    <a th:href="@{/users/update/{id}(id=${user.userId})}" class="w3-bar-item w3-button">Edit profile</a>
                    <a th:href="@{/forgot-password}" class="w3-bar-item w3-button  ">Change password</a>
                    <a th:href="@{/logout}" class="w3-bar-item w3-button">Log out</a>
                </div>
            </div>
            <div class="w3-dropdown-hover w3-hide-small w3-right">
                <a href="#" sec:authorize="hasRole('ROLE_ADMIN')" class="w3-button w3-padding-large"
                   title="Administrator menu">
                    ADMIN
                </a>
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="w3-dropdown-content w3-card-4 w3-bar-block"
                     style="right: 0">
                    <a th:href="@{/users}" class="w3-bar-item w3-button">All users</a>
                    <a th:href="@{/posts/admin}" class="w3-bar-item w3-button">Posts</a>
                    <a th:href="@{/comments}" class="w3-bar-item w3-button">Comments</a>
                    <a th:href="@{/replyComments}" class="w3-bar-item w3-button">Replies to comments</a>
                    <a th:href="@{/cities}" class="w3-bar-item w3-button">Edit cities</a>
                </div>
            </div>
            <a sec:authorize="!isAuthenticated()" href="#" th:href="@{/index1}"
               class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
               title="Login"> Login
            </a>
            <a href="#" sec:authorize="!isAuthenticated()" th:href="@{/registration}"
               class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white">Register</a>

            <div class="w3-bar-item w3-right w3-cell-middle" style="width: 400px">
                <form th:action="@{/search}" method="post" accept-charset="UTF-8"
                      style="width: 100%; padding-top: 1%; alignment: right">
                    <input name="filterParam" placeholder="Type name, e-mail or post" type="text" accept-charset="UTF-8"
                           style="width: 80%; font-size:1rem;">
                    <button id="searchAnimation" type="submit" class="fa fa-search"
                            style="background: transparent; border: none; color: white;"/>

                    </input>
                </form>
            </div>

        </div>
    </div>
    <!-- Navbar on small screens -->
    <div id="navMobileLinks" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">My
            Profile</a></div>
    <!-- NAVBAR END -->
    <!-- PAGE AREA START -->
    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:650px; padding: 3%; margin-top:50px">
        <!-- The Grid -->
        <div class="w3-row">

            <div class="w3-card w3-round w3-white w3-center w3-padding">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1><b>Create post</b></h1>
                        <form th:action="@{/posts/new}" th:object="${post}" method="post">

                            <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                               th:each="error : ${#fields.errors('global')}" th:text="${error}">
                                Validation error</p>

                            <!--                <div>-->
                            <!--                    <label for="postTitle">Title</label>:-->
                            <!--                    <input type="text" id="postTitle" name="title" class="form-control" autofocus="autofocus"/>-->
                            <!--                    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>-->
                            <!--                </div>-->
                            <table>
                                <th style="padding-top: 3%"></th>
                                <tr class="form-group"
                                    th:classappend="${#fields.hasErrors('title')}? 'has-error':''">
                                    <td align="left" width="100px">
                                        <label for="postTitle" class="control-label"><b>Title:</b></label>
                                    </td>
                                    <td align="left">
                                        <div>
                                            <input style="width: 430px" id="postTitle" class="form-control"
                                                   th:field="${post.title}"/>
                                            <p class="error-message" th:each="error: ${#fields.errors('title')}"
                                               th:text="${error}">Validation error</p>
                                        </div>
                                    </td>
                                </tr>
                                <th style="padding-top: 3%"></th>
                                <tr class="form-group"
                                    th:classappend="${#fields.hasErrors('postMessage')}? 'has-error':''">
                                    <td align="left" width="100px">
                                        <label for="postMessage" class="control-label"><b>Post body:</b></label>
                                    </td>
                                    <td align="left">
                                        <div>
                                            <textarea id="postMessage" class="form-control"
                                                      th:field="${post.postMessage}"
                                                      style="width: 430px; height: 100px; " autofocus="autofocus">
                                            </textarea>
                                            <p class="error-message" th:each="error: ${#fields.errors('postMessage')}"
                                               th:text="${error}">Validation error</p>
                                        </div>
                                    </td>
                                </tr>
                                <th style="padding-top: 3%"></th>
                            </table>
                            <label><b>Post privacy:</b>
                                <select th:field="*{privacy.privacyId}" class="browser-default">
                                    <option th:each="privacy: ${privacies}"
                                            th:value="${privacy.privacyId}"
                                            th:text="${privacy.privacyType}">
                                    </option>
                                </select>
                            </label>

                            <br>
                            <button type="submit" class="w3-button w3-theme-d2 w3-margin" value="Save">create Post
                            </button>
<!--                            <div class="form-group">-->
<!--                                <p><span>New user? <a href="/"-->
<!--                                                      th:href="@{/registration}"><b>Register here</b></a></span>-->
<!--                                </p>-->
<!--                                <p><span>Forgot password?<a href="#"-->
<!--                                                            th:href="@{/forgot-password}"><b>Request here</b></a></span>-->
<!--                                </p>-->
<!--                            </div>-->
                        </form>
                    </div>
                </div>
            </div>
            <!-- End Grid follows-->
        </div>
        <!-- End Page Container follows-->
    </div>
</div>
<!-- Page Container END-->

<br>
<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16" style="text-align: left">
    <h5><i class="fa fa-copyright" aria-hidden="true"></i> 2019 Team1 Telerik Academy Alpha Java</h5>
</footer>

<footer class="w3-container w3-theme-d5" style="text-align: left">
    <p>...
        <a href="#" th:href="@{/swagger-ui.html}">Application API</a></p>

</footer>
<footer class="w3-container w3-theme-d5" style="text-align: left; margin-top: -80px;">
</footer>
<!-- PAGE AREA END -->

<!--  Scripts-->
<!--<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"-->
<!--src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script th:attr="src=@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<script th:attr="src=@{/js/init.js}" src="../static/js/init.js"></script>
<script th:attr="src=@{/js/users_infinite_scroll.js}" src="../static/js/users_infinite_scroll.js"></script>

</body>
</html>