<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="icon" type="image/png" th:href="@{/pictures/fav.png}" href="../static/pictures/fav.png">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/w3.css}" type="text/css" href="../static/css/w3.css">
    <link rel="stylesheet" th:href="@{/css/color-theme.css}" type="text/css" href="../static/css/color-theme.css">
    <link rel="stylesheet" th:href="@{/css/css_googleapis_open_sans.css}" type="text/css"
          href="../static/css/css_googleapis_open_sans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Create comment</title>
</head>
<body>

<div id="background-page" th:style="'background-image: url(' + '/pictures/background2.jpg' + ');'"
     style="background-image: url(../static/pictures/background2.jpg); min-height: 100%">
    <!-- NAVBAR START -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
               href="javascript:void(0);" onclick="openNav()">
                <em class="fa fa-bars"></em>
            </a>

            <a href="index.html" th:href="@{/}"
               class="w3-bar-item w3-button w3-padding-large w3-theme-d4">
                <em class="fa fa-home w3-margin-right"></em>Funimation
            </a>
            <div class="modal" id="searchingNow">
                <!-- Modal content -->
                <div class="modal-content" id="modalSearching">
                    <img th:attr="src=@{/pictures/searching.gif}"
                         src="../static/pictures/searching.gif"
                         style="margin-left: 40%; justify-content: center;"></img>
                </div>
            </div>

            <a sec:authorize="isAuthenticated()" href="index1_model.html" th:href="@{/index1}"
               class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News">
                <em class="fa fa-globe"></em>
            </a>

            <a href="#" sec:authorize="isAuthenticated()" th:href="@{/myPage/{id}(id=${user.userId})}"
               class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
               title="My page"><em class="fa fa-address-card-o"></em></a>

            <!--middle of navbar-->
            <div class="w3-dropdown-hover w3-hide-small w3-right">
                <a href="#" sec:authorize="isAuthenticated()" class="w3-button w3-padding-large">
                    <img th:src="${(user.getPhoto().getPhotoSrc())}" class="w3-circle" style="height: 23px; width: 23px"
                         alt="Avatar">
                </a>
                <div sec:authorize="isAuthenticated()" class="w3-dropdown-content w3-card-4 w3-bar-block"
                     style="right: 0">
                    <a th:href="@{/myPage/{id}(id=${user.userId})}" class="w3-bar-item w3-button">My Account</a>
                    <a th:href="@{/users/update/{id}(id=${user.userId})}" class="w3-bar-item w3-button">Edit profile</a>
                    <a th:href="@{/forgot-password}" class="w3-bar-item w3-button  ">Change password</a>
                    <a th:href="@{/logout}" class="w3-bar-item w3-button">Log out</a>
                    <a th:href="@{/users/delete/{id}(id=${user.userId})}" class="w3-bar-item w3-button">Deactivate user</a>
                    <a th:href="@{/changeEmail}" class="w3-bar-item w3-button">Change e-mail address</a>
                </div>
            </div>
            <div class="w3-dropdown-hover w3-hide-small w3-right">
                <a href="#" sec:authorize="hasRole('ROLE_ADMIN')" class="w3-button w3-padding-large"
                   title="Administrator menu">
                    ADMIN
                </a>
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="w3-dropdown-content w3-card-4 w3-bar-block"
                     style="right: 0">
                    <a th:href="@{/users}" class="w3-bar-item w3-button">All users</a>
                    <a th:href="@{/posts/admin}" class="w3-bar-item w3-button">Posts</a>
                    <a th:href="@{/comments}" class="w3-bar-item w3-button">Comments</a>
                    <a th:href="@{/replyComments}" class="w3-bar-item w3-button">Replies to comments</a>
                    <a th:href="@{/cities}" class="w3-bar-item w3-button">Edit cities</a>
                </div>
            </div>
            <a sec:authorize="!isAuthenticated()" href="#" th:href="@{/index1}"
               class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
               title="Login"> Login
            </a>
            <a href="#" sec:authorize="!isAuthenticated()" th:href="@{/registration}"
               class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white">Register</a>

            <div class="w3-bar-item w3-right w3-cell-middle" style="width: 400px">
                <form th:action="@{/search}" method="post" accept-charset="UTF-8"
                      style="width: 100%; padding-top: 1%; alignment: right">
                    <input name="filterParam" placeholder="Type name, e-mail or post" type="text" accept-charset="UTF-8"
                           style="width: 80%; font-size:1rem;">
                    <button id="searchAnimation" type="submit" class="fa fa-search"
                            style="background: transparent; border: none; color: white;"/>

                    </input>
                </form>
            </div>

        </div>
    </div>
    <!-- Navbar on small screens -->
    <div id="navMobileLinks" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">My
            Profile</a></div>
    <!-- NAVBAR END -->
    <!-- PAGE AREA START -->
    <!-- Page Container -->
    <div style="min-height: 100vh">
        <div class="w3-container w3-content" style="max-width:710px; padding: 3%; margin-top:50px">
            <!-- The Grid -->
            <div class="w3-row">
                <div class="w3-card w3-round w3-white w3-center">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h1 style="font-weight: bold">Add comment</h1>
                            <form th:action="@{/comments/new/{postId}(postId=${post.postId})}" th:object="${comment}"
                                  method="post">

                                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                                   th:each="error : ${#fields.errors('global')}" th:text="${error}">
                                    Validation error</p>

                                <table border="0" cellpadding="10">
                                    <tr>
                                        <td><b> Post title:</b></td>
                                        <td><input type="text" readonly th:object="${post.postId}"
                                                   th:value="${post.title}"
                                                   style="width: 500px;padding-left: 10px">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b> Post text:</b></td>
                                        <td>
                                            <input type="text" readonly th:object="${post.postId}"
                                                   th:value="${post.postMessage}"
                                                   style="width: 500px;padding-left: 10px">
                                        </td>
                                    </tr>

                                    <tr class="form-group"
                                        th:classappend="${#fields.hasErrors('commentBody')}? 'has-error':''">
                                        <td>
                                            <label for="comment" class="control-label"><b>Comment</b></label></td>
                                        <td>
                                            <div>
                                            <textarea id="comment" class="form-control"
                                                      th:field="${comment.commentBody}"
                                                      th:text="${comment.commentBody}"
                                                      style="width: 500px;padding: 10px"/>
                                                <p class="error-message"
                                                   th:each="error: ${#fields.errors('commentBody')}"
                                                   th:text="${error}">Validation error</p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <td colspan="2">
                                    <button id="like-btn" type="submit" class="w3-button w3-theme-d2 w3-margin-bottom">
                                        add
                                        Comment
                                    </button>
                                </td>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Page Container follows-->
        </div>
    </div>
    <!-- Page Container END-->

    <!-- Footer -->
    <footer class="w3-container w3-theme-d3 w3-padding-16" style="text-align: left">
        <h5><i class="fa fa-copyright" aria-hidden="true"></i> 2019 Team1 Telerik Academy Alpha Java</h5>
    </footer>

    <footer class="w3-container w3-theme-d5" style="text-align: left">
        <p>...
            <a href="#" th:href="@{/swagger-ui.html}">Application API</a></p>

    </footer>
    <footer class="w3-container w3-theme-d5" style="text-align: left; margin-top: -80px;">
    </footer>
    <!-- PAGE AREA END -->

    <script th:attr="src=@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script th:attr="src=@{/js/init.js}" src="../static/js/init.js"></script>
    <script th:attr="src=@{/js/users_infinite_scroll.js}" src="../static/js/users_infinite_scroll.js"></script>
</div>
</body>
</html>