<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <th:block th:include="~{fragments/head}"></th:block>

    <title>Friends list</title>
</head>

<body>

<th:block th:include="~{fragments/navbar-top}"></th:block>

<div class="w3-card w3-round w3-white w3-padding w3-center">
    <div class="w3-center" style="min-height: 100vh">
        <div th:if="${friendsList.isEmpty()}">
            <h2 th:text="#{friendsShipTable.header.noFriends}">No friends</h2>
        </div>
        <div id="page" class="display">
            <div th:unless="${friendsList.isEmpty()}" class="row" id="myItems">
                <h2 th:text="#{friendsShipTable.header}">Friends list</h2>
                <div th:each="friend : ${friendsList}" class="filterDiv 0">
                    <table class="card-image waves-effect waves-block waves-light small">
                        <tr>
                            <div th:if="${friend.getUserReceivingRequest() != user}">
                                <td width="80px">
                                    <img th:src="${(friend.getUserReceivingRequest().getPhoto().getPhotoSrc())}"
                                         style="height:50px; width: 50px; border-radius: 50%">
                                </td>
                                <td width="80px">
                                    <a th:text="${friend.getUserReceivingRequest().getFirstName()}"></a>
                                </td>
                                <td width="80px">
                                    <a th:text="${friend.getUserReceivingRequest().getLastName()}"></a>
                                </td>
                            </div>
                            <div th:if="${friend.getUserReceivingRequest() == user}">
                                <td width="80px">
                                    <img th:src="${(friend.getUserSendingRequest().getPhoto().getPhotoSrc())}"
                                         style="height:50px; width: 50px; border-radius: 50%">
                                </td>
                                <td width="80px">
                                    <a th:text="${friend.getUserSendingRequest().getFirstName()}"></a>
                                </td>
                                <td width="80px">
                                    <a th:text="${friend.getUserSendingRequest().getLastName()}"></a>
                                </td>
                            </div>
                            <td width="80px"><a sec:authorize="isAuthenticated()"
                                                th:href="@{/friendship/delete/{id}(id=${friend.getConnectionId()})}"
                                                class="btn btn-warning" title="Unfriend">
                                <i class=" w3-button w3-theme-d2 w3-margin-bottom">unfriend</i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="~{fragments/footer}"></th:block>
<th:block th:include="~{fragments/scripts}"></th:block>
</body>
</html>