<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

      lang="en">
<head>
    <link rel="icon" type="image/png" th:href="@{/pictures/fav.png}" href="../static/pictures/fav.png">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/w3.css}" type="text/css" href="../static/css/w3.css">
    <link rel="stylesheet" th:href="@{/css/color-theme.css}" type="text/css" href="../static/css/color-theme.css">
    <link rel="stylesheet" th:href="@{/css/css_googleapis_open_sans.css}" type="text/css"
          href="../static/css/css_googleapis_open_sans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Funimation - Home Page</title>
</head>
<body>
<!-- left curtain follows -->
<div class="curtain">
    <div id="checkbox-container" class="curtain__wrapper"><input id="curtain1" sec:authorize="!isAuthenticated()"
                                                                 type="checkbox" checked name="1">
        <input sec:authorize="isAuthenticated()" id="curtain1" type="checkbox" name="1">

        <div class="curtain__panel curtain__panel--left"><img th:attr="src=@{/pictures/CurtainLeft1.jpg}"
                                                              src="../static/pictures/CurtainLeft1.jpg"
                                                              style="position:absolute;top:0;left:0;z-index:1; width: 100%; height: 100%">
            <div style="position:relative;z-index:5;color: white; font-size: 3vmin;   text-shadow:
      1px 2px 2px rgba(0, 0, 0, 80),      1px 2px 2px rgba(0, 0, 0, 80),      1px 2px 2px rgba(0, 0, 0, 80);">
                <h1 style="text-align: right">Wellcome to&nbsp;</h1>
                <h3 style="text-align: right">Are you bored looking &nbsp;</h3>
                <h3 style="text-align: right">parties and your &nbsp;</h3>
                <h5 style="text-align: right">click to&nbsp;</h5>
            </div>
        </div>
        <!-- curtain__panel -->
        <div class="curtain__content" th:style="'background-image: url(' + '/pictures/background1.jpg' + ');'"
             style="background-image: url(../static/pictures/background1.jpg); min-height: 100vh">
            <!-- NAVBAR START -->
            <div class="w3-top">
                <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
                    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
                       href="javascript:void(0);" onclick="openNav()">
                        <em class="fa fa-bars"></em>
                    </a>

                    <a href="index.html" th:href="@{/}"
                       class="w3-bar-item w3-button w3-padding-large w3-theme-d4">
                        <em class="fa fa-home w3-margin-right"></em>Funimation
                    </a>
                    <div class="modal" id="searchingNow">
                        <!-- Modal content -->
                        <div class="modal-content" id="modalSearching">
                            <img th:attr="src=@{/pictures/searching.gif}"
                                 src="../static/pictures/searching.gif"
                                 style="margin-left: 40%; justify-content: center;"></img>
                        </div>
                    </div>

                    <a sec:authorize="isAuthenticated()" href="index1_model.html" th:href="@{/index1}"
                       class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News">
                        <em class="fa fa-globe"></em>
                    </a>

                    <a href="#" sec:authorize="isAuthenticated()" th:href="@{/myPage/{id}(id=${user.userId})}"
                       class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
                       title="My page"><em class="fa fa-address-card-o"></em></a>


                    <a href="#" sec:authorize="isAuthenticated()" th:href="@{/posts}"
                       class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
                       title="Edit posts"><em class="fa fa-pencil-square-o"></em></a>

                    <!--middle of navbar-->
                    <div class="w3-dropdown-hover w3-hide-small w3-right">
                        <a href="#" sec:authorize="isAuthenticated()" class="w3-button w3-padding-large">
                            <img th:src="${(user.getPhoto().getPhotoSrc())}" class="w3-circle"
                                 style="height: 23px; width: 23px" alt="Avatar">
                        </a>
                        <div sec:authorize="isAuthenticated()" class="w3-dropdown-content w3-card-4 w3-bar-block"
                             style="right: 0">
                            <a th:href="@{/myPage/{id}(id=${user.userId})}" class="w3-bar-item w3-button">My Account</a>
                            <a th:href="@{/users/update/{id}(id=${user.userId})}" class="w3-bar-item w3-button">Edit
                                profile</a>
                            <a th:href="@{/forgot-password}" class="w3-bar-item w3-button  ">Change password</a>
                            <a th:href="@{/logout}" class="w3-bar-item w3-button">Log out</a>
                            <a th:href="@{/users/delete/{id}(id=${user.userId})}" class="w3-bar-item w3-button">Deactivate user</a>
                            <a th:href="@{/changeEmail}" class="w3-bar-item w3-button">Change e-mail address</a>

                        </div>
                    </div>
                    <div class="w3-dropdown-hover w3-hide-small w3-right">
                        <a href="#" sec:authorize="hasRole('ROLE_ADMIN')" class="w3-button w3-padding-large"
                           title="Administrator menu">
                            ADMIN
                        </a>
                        <div sec:authorize="hasRole('ROLE_ADMIN')" class="w3-dropdown-content w3-card-4 w3-bar-block"
                             style="right: 0">
                            <a th:href="@{/users}" class="w3-bar-item w3-button">All users</a>
                            <a th:href="@{/posts/admin}" class="w3-bar-item w3-button">Posts</a>
                            <a th:href="@{/comments}" class="w3-bar-item w3-button">Comments</a>
                            <a th:href="@{/replyComments}" class="w3-bar-item w3-button">Replies to comments</a>
                            <a th:href="@{/cities}" class="w3-bar-item w3-button">Edit cities</a>
                        </div>
                    </div>
                    <a sec:authorize="!isAuthenticated()" href="#" th:href="@{/index1}"
                       class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
                       title="Login"> Login
                    </a>
                    <a href="#" sec:authorize="!isAuthenticated()" th:href="@{/registration}"
                       class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white">Register</a>

                    <div class="w3-bar-item w3-right w3-cell-middle" style="width: 400px">
                        <form th:action="@{/search}" method="post" accept-charset="UTF-8"
                              style="width: 100%; padding-top: 1%; alignment: right">
                            <input name="filterParam" placeholder="Type name, e-mail or post" type="text"
                                   accept-charset="UTF-8"
                                   style="width: 80%; font-size:1rem;">
                            <button id="searchAnimation" type="submit" class="fa fa-search"
                                    style="background: transparent; border: none; color: white;"/>
                            </input>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Navbar on small screens -->
            <div id="navMobileLinks" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
                <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
                <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
                <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
                <a href="#" class="w3-bar-item w3-button w3-padding-large">My
                    Profile</a></div>
            <!-- NAVBAR END -->
            <!-- PAGE AREA -->
            <!-- ROSTS AREA -->
            <!-- Page Container -->
            <div class="w3-container w3-content" style="max-width:1900px;margin-top:50px">
                <!-- The Grid -->
                <div class="w3-row">
                    <!-- Left Column -->
                    <div id="post-divLeft"></div>
                    <div class="w3-col m3">
                        <!-- Karaoke -->
                        <div class="w3-card w3-round w3-white w3-center">
                            <a href="#" th:href="@{/posts/requestOfferForAdult}">
                                <span>STAND-UP COMEDIAN REQUESTS</span>
                                <img th:attr="src=@{/pictures/karaoke1.png}"
                                     src="../static/pictures/karaoke1.png"
                                     style="width:95%; padding-bottom: 3%;">
                            </a></div>
                        <br>
                        <!-- End Left Column -->
                    </div>
                    <!-- Middle Column -->

                    <div class="w3-col m6" id="index-middle-column-1">
                        <div class="w3-row-padding">
                            <div class="w3-col m12">
                                <div class="w3-card w3-round w3-white">
                                    <div class="w3-container w3-padding">
                                        <h2><b><span>&#10022; Posts &#10022;</span></b></h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div sec:authorize="isAuthenticated()" class="w3-row-padding">
                            <div class="w3-col m12">
                                <div class="w3-card w3-round w3-white">
                                    <div class="w3-container w3-padding">
                                        <a href="#" th:href="@{/posts/new}">
                                            <button type="button" class="w3-button w3-theme" style="margin-right: 5%">
                                                <i class="fa fa-pencil"></i> Post
                                            </button>
                                        </a>
                                        <a href="#" th:href="@{/posts/newRequestOffer}">
                                            <button type="button" class="w3-button w3-theme" style="margin-left: 5%">
                                                <i class="fa fa-pencil"></i> Request for offer
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="post-div1"></div>
                        <div id="post-div2"><span style="color: red;">click here if no content is loaded</span></div>

                        <div id="loading">
                            <div class="w3-container">
                                <img th:attr="src=@{/pictures/ajax-loader.gif}"
                                     src="../static/pictures/ajax-loader.gif" style="width:10%; opacity: 1;">
                            </div>
                        </div>

                        <br>

                        <!-- End Middle Column -->
                    </div>
                    <!-- Right Column -->
                    <div id="post-divRight"></div>
                    <div class="w3-col m3">
                        <div class="w3-card w3-round w3-white w3-center">
                        </div>
                        <div class="w3-card w3-round w3-white w3-center">
                            <a href="#" th:href="@{/posts/requestOfferForKids}">
                                <span>KIDS ENTERTAINMENT REQUESTS</span>
                                <img th:attr="src=@{/pictures/clown1.png}"
                                     src="../static/pictures/clown1.png" style="width:95%; padding-bottom: 3%;">
                            </a>
                        </div>
                        <br>
                        <!-- End Right Column -->
                    </div>
                    <!-- End Grid -->
                </div>
                <!-- End Page Container -->
            </div>
            <!-- POSTS AREA END -->

            <ul class="px-4 py-3">

            </ul>

            <br>
            <!-- Footer -->
            <footer class="w3-container w3-theme-d3 w3-padding-16" style="text-align: left">
                <h5><i class="fa fa-copyright" aria-hidden="true"></i> 2019 Team1 Telerik Academy Alpha Java</h5>
            </footer>

            <footer class="w3-container w3-theme-d5" style="text-align: left">
                <p>...
                    <a href="#" th:href="@{/swagger-ui.html}">Application API</a></p>

            </footer>
            <footer class="w3-container w3-theme-d5" style="text-align: left; margin-top: -80px;">
            </footer>
            <!-- END OF LINKS AREA -->
            <!-- END OF PAGE AREA -->
        </div>


        <!-- right curtain follows -->
        <div class="curtain__panel curtain__panel--right"><img th:attr="src=@{/pictures/CurtainRight1.jpg}"

                                                               src="../static/pictures/CurtainRight1.jpg"
                                                               style="position:absolute;top:0;left:0;z-index:1; width: 100%; height: 100%">
            <div style="position:relative;z-index:5;color: white; font-size: 3vmin;   text-shadow:
      1px 2px 2px rgba(0, 0, 0, 80),      1px 2px 2px rgba(0, 0, 0, 80),      1px 2px 2px rgba(0, 0, 0, 80);">
                <h1 style="text-align: left"> Funimation!</h1>
                <h3 style="text-align: left"> for proper entertainment for </h3>
                <h3 style="text-align: left"> kids amuzement?... </h3>
                <h5 style="text-align: left">continue</h5>
            </div>
        </div>
        <!-- curtain__panel --> </div>
    <!-- curtain__wrapper --> </div>
<script th:attr="src=@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<script th:attr="src=@{/js/init.js}" src="../static/js/init.js"></script>
<script th:attr="src=@{/js/post_infinite_scroll.js}" src="../static/js/post_infinite_scroll.js"></script>
</body>
</html>
