<!DOCTYPE html>
<!--///////////////////////////// COPY FROM HERE (1) /////////////////////////-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html"

      lang="en">
<head>
    <link rel="icon" type="image/png" th:href="@{/pictures/fav.png}" href="../static/pictures/fav.png">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/w3.css}" type="text/css" href="../static/css/w3.css">
    <link rel="stylesheet" th:href="@{/css/color-theme.css}" type="text/css" href="../static/css/color-theme.css">
    <link rel="stylesheet" th:href="@{/css/css_googleapis_open_sans.css}" type="text/css"
          href="../static/css/css_googleapis_open_sans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Funimation - Site SubPage</title>
</head>
<body>
<div id="background-page" th:style="'background-image: url(' + '/pictures/background2.jpg' + ');'"
     style="background-image: url(../static/pictures/background2.jpg); min-height: 100%">
    <!-- NAVBAR START -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
               href="javascript:void(0);" onclick="openNav()">
                <em class="fa fa-bars"></em>
            </a>

            <a href="index.html" th:href="@{/}"
               class="w3-bar-item w3-button w3-padding-large w3-theme-d4">
                <em class="fa fa-home w3-margin-right"></em>Funimation
            </a>
            <div class="modal" id="searchingNow">
                <!-- Modal content -->
                <div class="modal-content" id="modalSearching">
                    <img th:attr="src=@{/pictures/searching.gif}"
                         src="../static/pictures/searching.gif"
                         style="margin-left: 40%; justify-content: center;"></img>
                </div>
            </div>

            <div class="w3-dropdown-hover w3-hide-small">
                <a sec:authorize="isAuthenticated()"
                   href="index1_model.html"
                   th:href="@{/index1}"
                   class="w3-button w3-padding-large"
                   title="News">
                    <em class="fa fa-globe"></em>
                </a>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a th:href="@{/myPage}" class="w3-bar-item w3-button"><i class="fa fa-pencil-square-o"></i> News</a>
                </div>
            </div>


            <a href="#" sec:authorize="isAuthenticated()" th:href="@{/myPage/{id}(id=${user.userId})}"
               class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
               title="My page"><em class="fa fa-address-card-o"></em></a>

            <!--middle of navbar-->
            <div class="w3-dropdown-hover w3-hide-small w3-right">
                <a href="#" sec:authorize="isAuthenticated()" class="w3-button w3-padding-large">
                    <img th:src="${(user.getPhoto().getPhotoSrc())}" class="w3-circle" style="height: 23px; width: 23px"
                         alt="Avatar">
                </a>
                <div sec:authorize="isAuthenticated()" class="w3-dropdown-content w3-card-4 w3-bar-block"
                     style="right: 0">
                    <a th:href="@{/myPage/{id}(id=${user.userId})}" class="w3-bar-item w3-button">My Account</a>
                    <a th:href="@{/users/update/{id}(id=${user.userId})}" class="w3-bar-item w3-button">Edit profile</a>
                    <a th:href="@{/forgot-password}" class="w3-bar-item w3-button  ">Change password</a>
                    <a th:href="@{/logout}" class="w3-bar-item w3-button">Log out</a>
                    <a th:href="@{/users/delete/{id}(id=${user.userId})}" class="w3-bar-item w3-button">Deactivate user</a>
                    <a th:href="@{/changeEmail}" class="w3-bar-item w3-button">Change e-mail address</a>
                </div>
            </div>
            <div class="w3-dropdown-hover w3-hide-small w3-right">
                <a href="#" sec:authorize="hasRole('ROLE_ADMIN')" class="w3-button w3-padding-large"
                   title="Administrator menu">
                    ADMIN
                </a>
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="w3-dropdown-content w3-card-4 w3-bar-block"
                     style="right: 0">
                    <a th:href="@{/users}" class="w3-bar-item w3-button">All users</a>
                    <a th:href="@{/posts/admin}" class="w3-bar-item w3-button">Posts</a>
                    <a th:href="@{/comments}" class="w3-bar-item w3-button">Comments</a>
                    <a th:href="@{/replyComments}" class="w3-bar-item w3-button">Replies to comments</a>
                    <a th:href="@{/cities}" class="w3-bar-item w3-button">Edit cities</a>
                </div>
            </div>
            <a sec:authorize="!isAuthenticated()" href="#" th:href="@{/index1}"
               class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
               title="Login"> Login
            </a>
            <a href="#" sec:authorize="!isAuthenticated()" th:href="@{/registration}"
               class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white">Registration</a>

            <div class="w3-bar-item w3-right w3-cell-middle" style="width: 400px">
                <form th:action="@{/search}" method="post" accept-charset="UTF-8"
                      style="width: 100%; padding-top: 1%; alignment: right">
                    <input name="filterParam" placeholder="Type name, e-mail or post" type="text" accept-charset="UTF-8"
                           style="width: 80%; font-size:1rem;">
                    <button id="searchAnimation" type="submit" class="fa fa-search"
                            style="background: transparent; border: none; color: white;"/>

                    </input>
                </form>
            </div>

        </div>
    </div>
    <!-- Navbar on small screens -->
    <div id="navMobileLinks" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">My
            Profile</a></div>
    <!-- NAVBAR END -->

    <!-- PAGE AREA START -->
    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1900px;margin-top:50px">
        <!-- The Grid -->
        <div class="w3-row">
            <!--///////////////////////////// COPY TO HERE (1) /////////////////////////-->
            <!-- Left Column -->
            <div class="w3-col m3">
                <!-- Left top panel -->
                <div class="w3-card w3-round w3-white w3-center">
                    <a href="#" th:href="@{/posts/requestOfferForAdult}">
                        <span>STAND-UP COMEDIAN REQUESTS</span>
                        <img th:attr="src=@{/pictures/karaoke2.png}"
                             src="../static/pictures/karaoke2.png"
                             style="width:95%; padding-bottom: 3%;">
                    </a></div>
                <br>
                <!-- profile links -->
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="w3-card w3-round w3-white w3-center">
                    <div class="w3-container">
                        <p><span><b>Profile links</b></span></p>
                        <p sec:authorize="isAuthenticated()"> Welcome <span
                                sec:authentication="principal.username">User</span></p>
                        <li><a href="#" th:href="@{/registration}">Register</a></li>
                        <li><a href="#" th:href="@{/forgot-password}">Forgot password</a>
                        </li>
                        <li><a href="#" th:href="@{/login}">Log in</a></li>
                        <li><a href="#" th:href="@{/logout}">Log out</a></li>
                        <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/users/username}">Edit
                            profile</a></li>
                        <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/users}">All
                            users</a></li>
                        <br>
                    </div>
                </div>
                <br>
                <!-- End Left Column -->
            </div>
            <!-- Middle Column -->

            <div class="w3-col m6" id="index-middle-column-1">


                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <div class="w3-card w3-round w3-white">
                            <div class="w3-container w3-padding" style="text-align: center;">
                                <h2><b><span>&#10022; News &#10022;</span></b></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div sec:authorize="isAuthenticated()" class="w3-row-padding w3-center">
                    <div class="w3-col m12">
                        <div class="w3-card w3-round w3-white">
                            <div class="w3-container w3-padding">
                                <a href="#" th:href="@{/posts/new}">
                                    <button type="button" class="w3-button w3-theme" style="margin-right: 5%"><i
                                            class="fa fa-pencil"></i> Post
                                    </button>
                                </a>
                                <a href="#" th:href="@{/posts/newRequestOffer}">
                                    <button type="button" class="w3-button w3-theme" style="margin-left: 5%"><i
                                            class="fa fa-pencil"></i> Request for offer
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="news-div1">
                </div>
                <div class="w3-center" id="news-div2">
                    <span style="color: red;">click here if no content is loaded</span>
                </div>

                <div class="w3-center" id="loading">
                    <div class="w3-container"><img th:attr="src=@{/pictures/ajax-loader.gif}"
                                                   src="../static/pictures/ajax-loader.gif"
                                                   style="width:10%; opacity: 1;">
                    </div>
                </div>
                <br>

                <!-- End Middle Column -->
            </div>
            <!-- Right Column -->
            <div class="w3-col m3">
                <div class="w3-card w3-round w3-white w3-center">
                    <a href="#" th:href="@{/posts/requestOfferForKids}">
                        <div class="w3-container">
                            <span>KIDS ENTERTAINMENT REQUESTS</span>
                            <img th:attr="src=@{/pictures/tigger1.gif}"
                                 src="../static/pictures/tigger1.gif" style="width:95%;">
                        </div>
                    </a>
                </div>
                <br>

                <div sec:authorize="hasRole('ROLE_ADMIN')" class="w3-card w3-round w3-white w3-center">
                    <!-- style="opacity: 0; filter: Alpha(opacity=50); height: 200px;" -->
                    <br>
                    <p><span><b>Other links (current):</b></span></p>
                    <li><a href="#" th:href="@{/posts/new}">Create post</a></li>
                    <li><a href="#" th:href="@{/posts/newRequestOffer}">Create request for Offer</a></li>
                    <li><a href="#" th:href="@{/posts}">Show all public post</a></li>
                    <li><a href="#" th:href="@{/posts/requestOfferForKids}">Show all request offers for Kids
                        entertainment</a></li>
                    <li><a href="#" th:href="@{/posts/requestOfferForAdult}">Show all request offers for adults
                        entertainment</a></li>
                    <li><a href="#" th:href="@{/posts/admin}">Admin Show all post</a></li>
                    <li><a href="#" th:href="@{/comments}">Admin Show all comments</a></li>
                    <li><a href="#" th:href="@{/replyComments}">Admin Show all replies to comments</a></li>
                    <li><a href="#" th:href="@{/myPage}">News feed</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/cities}">All cities</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/cities/new}">New city</a></li>

                    <!--                    <form th:action="@{/search}" method="post" accept-charset="UTF-8">-->
                    <!--                        <label>Search-->
                    <!--                            <input name="filterParam" placeholder="Enter name, e-mail or post" type="text"-->
                    <!--                                   accept-charset="UTF-8"/>-->
                    <!--                        </label>-->
                    <!--                    </form>-->

                    <br>
                    <div class="w3-container">
                        <!-- <img src="../static/pictures/forest.jpg" alt="Forest" style="width:100%;"> -->
                    </div>
                </div>
                <br>

                <!-- End Right Column follows-->
            </div>
            <!--///////////////////////////// COPY FROM HERE (2) /////////////////////////-->
            <!-- End Grid follows-->
        </div>
        <!-- End Page Container follows-->
    </div>
    <!-- Page Container END-->

    <br>
    <!-- Footer -->
    <footer class="w3-container w3-theme-d3 w3-padding-16" style="text-align: left">
        <h5><i class="fa fa-copyright" aria-hidden="true"></i> 2019 Team1 Telerik Academy Alpha Java</h5>
    </footer>

    <footer class="w3-container w3-theme-d5" style="text-align: left">
        <p>...
            <a href="#" th:href="@{/swagger-ui.html}">Application API</a></p>

    </footer>
    <footer class="w3-container w3-theme-d5" style="text-align: left; margin-top: -80px;">
    </footer>
    <!-- PAGE AREA END -->
</div>

<!--  Scripts-->
<!--<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"-->
<!--src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script th:attr="src=@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<script th:attr="src=@{/js/init.js}" src="../static/js/init.js"></script>
<script th:attr="src=@{/js/news_infinite_scroll.js}" src="../static/js/news_infinite_scroll.js"></script>
<!--///////////////////////////// COPY TO HERE (2) /////////////////////////-->
</body>
</html>