<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">

<head>
    <link rel="icon" type="image/png" th:href="@{/pictures/fav.png}" href="../static/pictures/fav.png">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/w3.css}" type="text/css" href="../static/css/w3.css">
    <link rel="stylesheet" th:href="@{/css/color-theme.css}" type="text/css" href="../static/css/color-theme.css">
    <link rel="stylesheet" th:href="@{/css/css_googleapis_open_sans.css}" type="text/css"
          href="../static/css/css_googleapis_open_sans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Login</title>
</head>
<body>

<div id="background-page" th:style="'background-image: url(' + '/pictures/background2.jpg' + ');'"
     style="background-image: url(../static/pictures/background2.jpg); min-height: 100vh">
    <!-- NAVBAR START -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
               href="javascript:void(0);" onclick="openNav()">
                <em class="fa fa-bars"></em>
            </a>

            <a href="index.html" th:href="@{/}"
                       class="w3-bar-item w3-button w3-padding-large w3-theme-d4">
                        <em class="fa fa-home w3-margin-right"></em>Funimation
                    </a>
 <div class="modal" id="searchingNow">
                             <!-- Modal content -->
                        <div class="modal-content" id="modalSearching">
                            <img th:attr="src=@{/pictures/searching.gif}"
                            src="../static/pictures/searching.gif" style="margin-left: 40%; justify-content: center;"></img>
                        </div>
                    </div>
        </div>
    </div>
    <!-- Navbar on small screens -->
    <div id="navMobileLinks" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">My
            Profile</a></div>
    <!-- NAVBAR END -->
    <!-- PAGE AREA START -->
    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1900px; min-height:100vh; margin-top:50px; margin-left: 20%">
        <!-- The Grid -->
        <div class="w3-row">

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <br>
                        <h1><b>Login page</b></h1>
                        <br>
                        <form th:action="@{/login}" method="post">
                            <div th:if="${param.error}">
                                <div class="alert alert-danger">Invalid email or password or your account is not active/confirmed by e-mail.
                               <p> Please try again or: </p>
                                    <p>1. check your e-mail inbox</p>
                                    <p>2. use the options below</p>
                                </div>
                            </div>
                            <div th:if="${param.logout}">
                                <div class="alert alert-info">You have been logged out.</div>

                            </div>
                            <table>
                            <tr class="form-group">
                                <td>
                                    <label for="username"><b>Email</b></label>:
                                </td>
                                <td>
                                    <input type="text" id="username" name="username" class="form-control"
                                           autofocus="autofocus" placeholder="email@email.com"/>
                                </td>

                            </tr>
                            <th>
                            <tr class="form-group">
                                <td>
                                    <label for="password"><b>Password</b></label>:
                                </td>
                                <td>
                                    <input type="password" id="password" name="password" class="form-control"
                                           placeholder="Password"/>
                                </td>
                            </tr>
                            </table>
                            <br>
                            <br>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit" name="login-submit" id="login-submit"
                                               class="w3-button w3-theme-d2" value="Log In"/>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="form-group">
                                <p><span>New user? <a href="/" th:href="@{/registration}">Register here</a></span></p>
                                <p><span>Forgot password?<a href="#"
                                                            th:href="@{/forgot-password}">Request here</a></span></p>
                                <p><span >Request for validation of account? <a th:href="@{/new-validation}">Send request</a></span></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- End Grid follows-->
        </div>
        <!-- End Page Container follows-->
    </div>
    <!-- Page Container END-->

    <br>
    <!-- Footer -->
    <footer class="w3-container w3-theme-d3 w3-padding-16" style="text-align: left">
        <h5><i class="fa fa-copyright" aria-hidden="true"></i> 2019 Team1 Telerik Academy Alpha Java</h5>
    </footer>

    <footer class="w3-container w3-theme-d5" style="text-align: left">
        <p>...
            <a href="#" th:href="@{/swagger-ui.html}">Application API</a></p>

    </footer>
    <footer class="w3-container w3-theme-d5" style="text-align: left; margin-top: -80px;">
    </footer>
    <!-- PAGE AREA END -->
</div>

<!--  Scripts-->
<!--<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"-->
<!--src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script th:attr="src=@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<script th:attr="src=@{/js/init.js}" src="../static/js/init.js"></script>
<script th:attr="src=@{/js/users_infinite_scroll.js}" src="../static/js/users_infinite_scroll.js"></script>

</body>
</html>