<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"></th:block>

    <title>User Page</title>
</head>
<body>
<th:block th:include="~{fragments/navbar-top}"></th:block>

<div class="w3-card w3-round w3-white w3-center">

    <div class="container my-2">
        <div th:if="${friendsPosts.isEmpty()}">
            <h2 th:text="#{postsTable.header.noPosts}">No Posts</h2>
        </div>
        <h2 class="header" th:text="#{postTable.header}">Posts (design)</h2>
    </div>

    <div class="container my-2">
        <div th:unless="${friendsPosts.isEmpty()}">
            <table class="table table-striped table-responsive-md">
                <tr>
                    <td>
                        <a th:href="@{/posts/new}" class="btn btn-warning" style="padding-right: 25px"><i
                                class="w3-button w3-theme-d2 w3-margin-bottom">create post</i></a>
                    </td>
                    <td>
                        <a th:href="@{/posts/newRequestOffer}" class="btn btn-warning"><i
                                class="w3-button w3-theme-d2 w3-margin-bottom">Request for Offer</i></a>
                    </td>
                </tr>
                <tr>
                    <td style="margin-left: 25px">Avatar</td>
                    <td style="margin-left: 25px">Author</td>
                    <td style="margin-left: 70px">Post title</td>
                    <td style="margin-left: 90px">Post Body</td>
                    <td style="padding-top: 60px">Likes</td>
                    <td style="padding-top: 60px"></td>
                    <td style="padding-top: 60px">Comments</td>
                    <td style="padding-top: 60px">Update</td>
                    <td style="padding-top: 60px">Delete</td>
                </tr>
                <tr th:each="post:${friendsPosts}">
                    <td>
                        <img th:src="${(post.author.getPhoto().getPhotoSrc())}"
                             style="height:30px; width: 30px; border-radius: 50%"></td>
                    <td align="left" th:text="${post.author.getFirstName()} + ${' '} + ${post.author.getLastName()}"></td>
                    <td align="left" th:text="${post.title}"></td>
                    <td align="left" th:text="${post.postMessage}"></td>
                    <td th:text="${post.getUsersWhoLikedPost().size()}"></td>
                    <td>
                        <form th:action="@{/posts/like/{id}(id=${post.postId}, page ='two')}" method="post">
                            <button type="submit" class="w3-button w3-theme-d2 w3-margin-bottom">like</button>
                        </form>
                    </td>
                    <td>
                        <a th:href="@{/comments/byPost/{id}(id=${post.postId})}" class="btn btn-warning">
                            <i class="w3-button w3-theme-d2 w3-margin-bottom">show comments</i>
                        </a>
                    </td>
                    <td>
                        <div th:if="*{user != null && user == post.author}">
                            <a th:href="@{/comments/update/{id}(id=${post.postId})}" class="btn btn-warning">
                                <i class="w3-button w3-theme-d2 w3-margin-bottom">update</i>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div th:if="*{user != null && user == post.author}">
                            <a th:href="@{/comments/delete/{id}(id=${post.postId})}" class="btn btn-warning">
                                <i class="w3-button w3-theme-d2 w3-margin-bottom">delete</i>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
            <div>
                <a th:href="@{/myPage/{id}(id=${user.userId})}" class="btn btn-warning"><i
                        class="w3-button w3-theme-d2 w3-margin-bottom">go to my Page</i></a>
            </div>
        </div>
    </div>
</div>

<th:block th:include="~{fragments/footer}"></th:block>
<th:block th:include="~{fragments/scripts}"></th:block>

</body>
</html>