<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Friends list</title>
</head>

<body>
<th:block th:include="~{fragments/navbar-top}"></th:block>
<div class="w3-container w3-content" style="min-height:100vh; padding: 3%; margin-top:50px">
    <!-- The Grid -->
    <div class="w3-white w3-center">
        <div th:if="${friendsList.isEmpty()}">
            <h2 th:text="#{friendsPendingTable.header.noFriends}">Your pending friends' list is empty.</h2>
        </div>
<!--        <h2 th:text="#{friendsShipTable.header}">Friends</h2>-->
    </div>
</div>
<div class="w3-container w3-content w3-white w3-center">
    <div class="w3-white w3-center">
        <div class="w3-row">
            <div th:unless="${friendsList.isEmpty()}" class="row" id="myItems" style="min-height: 100vh; padding: 3%;margin-top:50px">
            <h2 th:text="#{friendsPendingTable.header}">Friends list</h2>
                <div id="page" class="display">
                    <div th:each="friend : ${friendsList}" class="filterDiv 0">
                        <div th:if="*{friend.getUserSendingRequest().photo.privacy.privacyType =='public'}">
                            <img th:src="${(friend.getUserSendingRequest().getPhoto().getPhotoSrc())}"
                                 style="height:30px; width: 30px; border-radius: 50%">
                        </div>
                        <div th:unless="*{friend.getUserSendingRequest().photo.privacy.privacyType =='public'}">
                            <img th:attr="src=@{/pictures/default_avatar.png}"
                                 src="..\static\pictures\default_avatar.png"
                                 style="height:30px; width: 30px; border-radius: 50%">
                            <a th:text="${friend.getUserSendingRequest().getFirstName()}"></a>
                            <a th:text="${friend.getUserSendingRequest().getLastName()}"></a>
                        </div>
                        <br>
                            <a class="btn-floating teal-text text-darken-4"
                               sec:authorize="isAuthenticated()"
                               th:href="@{/friendship/accept/{id}(id=${friend.getUserSendingRequest().getUserId()})}"
                               title="Unfriend"><i
                                    class="w3-button w3-theme-d2 w3-margin-bottom">confirm
                                friendship</i></a>
                            <a class="btn-floating teal-text text-darken-4"
                               sec:authorize="isAuthenticated()"
                               th:href="@{/friendship/delete/{id}(id=${friend.getConnectionId()})}"
                               title="Unfriend"><i
                                    class="w3-button w3-theme-d2 w3-margin-bottom">unfriend</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<th:block th:include="~{fragments/footer}"></th:block>
<th:block th:include="~{fragments/scripts}"></th:block>
</body>
</html>