<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" th:href="@{/pictures/fav.png}" href="../static/pictures/fav.png">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/w3.css}" type="text/css" href="../static/css/w3.css">
    <link rel="stylesheet" th:href="@{/css/color-theme.css}" type="text/css" href="../static/css/color-theme.css">
    <link rel="stylesheet" th:href="@{/css/css_googleapis_open_sans.css}" type="text/css"
          href="../static/css/css_googleapis_open_sans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Registration</title>
</head>
<body>

<div id="background-page" th:style="'background-image: url(' + '/pictures/background2.jpg' + ');'"
     style="background-image: url(../static/pictures/background2.jpg); min-height: 100vh">
    <!-- NAVBAR START -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
               href="javascript:void(0);" onclick="openNav()">
                <em class="fa fa-bars"></em>
            </a>

            <a href="index.html" th:href="@{/}"
                       class="w3-bar-item w3-button w3-padding-large w3-theme-d4">
                        <em class="fa fa-home w3-margin-right"></em>Funimation
                    </a>
 <div class="modal" id="searchingNow">
                             <!-- Modal content -->
                        <div class="modal-content" id="modalSearching">
                            <img th:attr="src=@{/pictures/searching.gif}"
                            src="../static/pictures/searching.gif" style="margin-left: 40%; justify-content: center;"></img>
                        </div>
                    </div>
        </div>
    </div>
    <!-- Navbar on small screens -->
    <div id="navMobileLinks" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">My
            Profile</a></div>
    <!-- NAVBAR END -->
    <!-- PAGE AREA START -->
    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:710px; padding: 3%;margin-top:50px">
        <!-- The Grid -->
        <div class="w3-row">
            <div class="w3-card w3-round w3-white w3-center w3-padding">
                <div class="col-md-6 col-md-offset-3">

                    <div th:if="${param.success}">
                        <div class="alert alert-info">
                    <span th:text="'You have successfully registered. A verification email has been sent to your e-mail address'">
                    </span>
                        </div>
                    </div>

                    <h1><b>Registration</b></h1>
                    <form th:action="@{/registration}" th:object="${user}" method="post">

                        <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                           th:each="error : ${#fields.errors('global')}" th:text="${error}">
                            Validation error</p>
                        <table border="0" cellpadding="10">
                            <tr>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                                    <td align="left"><b><label for="firstName" class="control-label">First name
                                    </label></b></td>
                                    <td align="left"><input id="firstName" class="form-control" th:field="*{firstName}"
                                                            style="width: 100%;padding-top: 5px"/></td>
                                    <td align="left"><p class="error-message"
                                           th:each="error: ${#fields.errors('firstName')}"
                                           th:text="${error}">Validation error</p></td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                                    <td align="left"><b><label for="lastName" class="control-label">Last name</label>
                                    </b></td>
                                    <td align="left"><input id="lastName" class="form-control" th:field="*{lastName}"
                                                            style="width: 100%;padding-top: 5px"/></td>
                                    <td align="left"><p class="error-message"
                                           th:each="error : ${#fields.errors('lastName')}"
                                           th:text="${error}">Validation error</p></td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                                    <td align="left"><b><label for="email" class="control-label">E-mail</label></b></td>
                                    <td align="left"><input id="email" class="form-control" th:field="*{email}"
                                                            style="width: 100%;padding-top: 5px"/></td>
                                    <td align="left"><p class="error-message"
                                           th:each="error : ${#fields.errors('email')}" th:text="${error}">
                                        Validation error</p></td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
                                    <td align="left"><b><label for="confirmEmail" class="control-label">Confirm e-mail
                                    </label></b></td>
                                    <td align="left"><input id="confirmEmail" class="form-control" th:field="*{confirmEmail}"
                                                            style="width: 100%;padding-top: 5px"/></td>
                                    <td align="left"><p class="error-message"
                                           th:each="error : ${#fields.errors('confirmEmail')}"
                                           th:text="${error}">Validation error</p></td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                    <td align="left"><b><label for="password" class="control-label">Password</label></b></td>
                                    <td align="left"><input id="password" class="form-control" type="password"
                                               th:field="*{password}" style="width: 100%;padding-top: 5px"/></td>
                                    <td align="left"><p class="error-message"
                                           th:each="error : ${#fields.errors('password')}"
                                           th:text="${error}">Validation error</p></td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                                    <td align="left"><b><label for="confirmPassword" class="control-label"> Confirm password</label></b>
                                    </td>
                                    <td align="left"><input id="confirmPassword" class="form-control" type="password"
                                               th:field="*{confirmPassword}" style="width: 100%;padding-top: 5px"/></td>
                                    <td align="left"><p class="error-message"
                                           th:each="error : ${#fields.errors('confirmPassword')}"
                                           th:text="${error}">Validation error</p></td>
                                </div>
                            </tr>
                            <tr>
                                <div class="form-group" th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
                                    <td align="right">
                                    </td>
                                    <td align="left"><label class="control-label"><input id="terms" type="checkbox" th:field="*{terms}"/> I agree with the 
                                        <a href="terms.html" th:href="@{/terms}" target="_blank">
                                            terms and conditions</a>
                                             for Registration.
                                    </label></td>
                                    <td><p class="error-message"
                                           th:each="error : ${#fields.errors('terms')}" th:text="${error}">
                                        Validation error</p></td>
                                </div>
                            </tr>
                        </table>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="w3-button w3-theme-d2 w3-margin-bottom">Register</button>
                           <br>
                            <span>Already registered?
                                <a href="/" th:href="@{/login}"><b>Login here</b></a>
                    </span>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="w3-container w3-theme-d3 w3-padding-16" style="text-align: left">
    <h5><i class="fa fa-copyright" aria-hidden="true"></i> 2019 Team1 Telerik Academy Alpha Java</h5>
</footer>

<footer class="w3-container w3-theme-d5" style="text-align: left">
    <p>...
        <a href="#" th:href="@{/swagger-ui.html}">Application API</a></p>

</footer>
<footer class="w3-container w3-theme-d5" style="text-align: left; margin-top: -80px;">
</footer>
<!-- PAGE AREA END -->

<script th:attr="src=@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<script th:attr="src=@{/js/init.js}" src="../static/js/init.js"></script>
<script th:attr="src=@{/js/users_infinite_scroll.js}" src="../static/js/users_infinite_scroll.js"></script>
</body>
</html>