<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html"

      lang="en">
<head>
    <link rel="icon" type="image/png" th:href="@{/pictures/fav.png}" href="../static/pictures/fav.png">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/w3.css}" type="text/css" href="../static/css/w3.css">
    <link rel="stylesheet" th:href="@{/css/color-theme.css}" type="text/css" href="../static/css/color-theme.css">
    <link rel="stylesheet" th:href="@{/css/css_googleapis_open_sans.css}" type="text/css"
          href="../static/css/css_googleapis_open_sans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Funimation - Search results</title>
</head>
<body>
<div id="background-page" th:style="'background-image: url(' + '/pictures/background2.jpg' + ')'"
     style="background-image: url(../static/pictures/background2.jpg); min-height: 100vh">
    <!-- NAVBAR START -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
               href="javascript:void(0);" onclick="openNav()">
                <em class="fa fa-bars"></em>
            </a>

            <a href="index.html" th:href="@{/}"
                       class="w3-bar-item w3-button w3-padding-large w3-theme-d4">
                        <em class="fa fa-home w3-margin-right"></em>Funimation
                    </a>
            <div class="modal" id="searchingNow">
                             <!-- Modal content -->
                        <div class="modal-content" id="modalSearching">
                            <img th:attr="src=@{/pictures/searching.gif}"
                            src="../static/pictures/searching.gif" style="margin-left: 40%; justify-content: center;"></img>
                        </div>
                    </div>

            <div class="w3-bar-item w3-right w3-cell-middle" style="width: 400px">
                        <form th:action="@{/search}" method="post" accept-charset="UTF-8" style="width: 100%; padding-top: 1%; alignment: right">
                            <input name="filterParam" placeholder="Type name, e-mail or post" type="text" accept-charset="UTF-8"
                                   style="width: 80%; font-size:1rem;">
                            <button id="searchAnimation" type="submit" class="fa fa-search" style="background: transparent; border: none; color: white;"/>

                            </input>
                        </form>
                    </div>

        </div>
    </div>
    <!-- Navbar on small screens -->
    <div id="navMobileLinks" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">My
            Profile</a></div>
    <!-- NAVBAR END -->

    <!-- PAGE AREA START -->
    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1900px; min-height: 100vh; margin-top:50px">
        <!-- The Grid -->
        <div class="w3-row">

            <div class="w3-container w3-content w3-padding" style="max-width:100%;">
                <div class="w3-card w3-round w3-white w3-center" style="min-height: 90vh">
                    <div class="container my-2">
                        <div th:if="${publicPostList.isEmpty()}">
                            <h2 th:text="#{postsTable.header.noPosts}">No Posts</h2>
                        </div>
                        <div th:unless="${publicPostList.isEmpty()}">
                            <h2 class="header" th:text="#{postTable.header}">Posts (design)</h2>
                        </div>
                    </div>

                    <div th:unless="${publicPostList.isEmpty()}">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr align="left">
                                <th style="padding-top: 60px">Post title</th>
                                <th style="padding-top: 60px">Post body</th>
                                <th style="padding-top: 60px">Photo</th>
                                <th style="padding-top: 60px">Author</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="post:${publicPostList}">
                                <td align="left" th:text="${post.title}"></td>
                                <td align="left" th:utext="${post.postMessage}"></td>
                                <div th:if="${post.author.photo.privacy.privacyType =='public'}">
                                    <td>
                                        <img th:src="${(post.author.getPhoto().getPhotoSrc())}"
                                             style="height:30px; width: 30px; border-radius: 50%">
                                    </td>
                                </div>
                                <div th:unless="${post.author.photo.privacy.privacyType =='public'}">
                                    <td>
                                        <img th:attr="src=@{/pictures/default_avatar.png}"
                                             src="..\static\pictures\default_avatar.png"
                                             style="height:30px; width: 30px; border-radius: 50%">
                                    </td>
                                </div>
                                <td align="left" th:text="${post.author.getFirstName()} + ${', '} + ${post.author.getLastName()}"></td>
                                <td>
                                    <a th:href="@{/comments/byPost/{postId}(postId=${post.postId})}" target="_blank"
                                       class="w3-button w3-theme-d2">
                                        <i class="fa fa-newspaper-o ml-2"> View post</i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="container my-2">
                        <div th:if="${userList.isEmpty()}">
                            <h2 th:text="#{usersTable.header.noUsers}">No Users</h2>
                        </div>
                        <div th:unless="${userList.isEmpty()}">
                            <h2 class="header" th:text="#{userTable.header}">User (design)</h2>
                        </div>
                    </div>

                    <div th:unless="${userList.isEmpty()}">
                        <table style="margin-left: 25px" class="table table-striped table-responsive-md">
                            <thead>
                            <tr align="left">
                                <th style="padding-top: 60px">Photo</th>
                                <th style="padding-top: 60px; padding-left: 25px">User</th>
                                <th style="padding-top: 60px; padding-left: 25px">E-mail</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr align="left" th:each="user:${userList}">
                                <div th:if="${user.photo.privacy.privacyType =='public'}">
                                    <td>
                                        <img th:src="${(user.getPhoto().getPhotoSrc())}"
                                             style="height:30px; width: 30px; border-radius: 50%">
                                    </td>
                                </div>
                                <div th:unless="${user.photo.privacy.privacyType =='public'}">
                                    <td>
                                        <img th:attr="src=@{/pictures/default_avatar.png}"
                                             src="..\static\pictures\default_avatar.png"
                                             style="height:30px; width: 30px; border-radius: 50%">
                                    </td>
                                </div>
                                <td style="margin-left: 25px" th:text="${user.firstName} + ${', '} + ${user.lastName}"></td>
                                <td style="margin-left: 25px" th:text="${user.getEmail()}"></td>
                                <td style="margin-left: 25px">
                                    <a th:href="@{/myPage/{id}(id=${user.userId})}" class="w3-button w3-theme-d2"
                                       target="_blank">
                                        <i class="fa fa-address-card-o ml-2"> Go to User Page</i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- End Grid follows-->
        </div>
        <!-- End Page Container follows-->
    </div>
    <!-- Page Container END-->

    <br>
    <!-- Footer -->
    <footer class="w3-container w3-theme-d3 w3-padding-16" style="text-align: left">
        <h5><i class="fa fa-copyright" aria-hidden="true"></i> 2019 Team1 Telerik Academy Alpha Java</h5>
    </footer>

    <footer class="w3-container w3-theme-d5" style="text-align: left">
        <p>...
            <a href="#" th:href="@{/swagger-ui.html}">Application API</a></p>

    </footer>
    <footer class="w3-container w3-theme-d5" style="text-align: left; margin-top: -80px;">
    </footer>
    <!-- PAGE AREA END -->
</div>

<!--  Scripts-->
<!--<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"-->
<!--src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script th:attr="src=@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<script th:attr="src=@{/js/init.js}" src="../static/js/init.js"></script>
<script th:attr="src=@{/js/news_infinite_scroll.js}" src="../static/js/news_infinite_scroll.js"></script>

</body>
</html>