<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="icon" type="image/png" th:href="@{/pictures/fav.png}" href="../static/pictures/fav.png">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/w3.css}" type="text/css" href="../static/css/w3.css">
    <link rel="stylesheet" th:href="@{/css/color-theme.css}" type="text/css" href="../static/css/color-theme.css">
    <link rel="stylesheet" th:href="@{/css/css_googleapis_open_sans.css}" type="text/css"
          href="../static/css/css_googleapis_open_sans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>All Users</title>
</head>
<body>

<th:block th:include="~{fragments/navbar-top}"></th:block>

<div class="w3-container w3-content w3-padding" style="max-width:800%;">
    <div class="w3-card w3-round w3-white w3-center">
        <div class="container my-2">
            <div th:if="${userList.isEmpty()}">
                <h2 th:text="#{usersTable.header.noUsers}">No Users</h2>
            </div>
            <h2 class="header" th:text="#{userTable.header}">Users (design)</h2>
        </div>
    </div>
</div>

<div class="w3-container w3-content w3-padding" style="max-width:100%;">
    <div class="w3-card w3-round w3-white w3-center">
        <div class="container my-2">
            <div th:unless="${userList.isEmpty()}">
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th style="padding-top: 60px">Photo</th>
                        <th style="padding-top: 60px">Cover Image</th>
                        <th style="padding-top: 60px">First name</th>
                        <th style="padding-top: 60px">Last name</th>
                        <th style="padding-top: 60px">E-mail</th>
                        <th style="padding-top: 60px" sec:authorize="hasRole('ADMIN')">User role</th>
                        <th style="padding-top: 60px" sec:authorize="hasRole('ADMIN')">Update</th>
                        <th style="padding-top: 60px" sec:authorize="hasRole('ADMIN')">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user:${userList}">
                        <td>
                            <img th:src="${(user.getPhoto().getPhotoSrc())}"
                                 style="height:30px; width: 30px; border-radius: 50%">
                        </td>
                        <td>
                            <img th:src="${(user.getPhoto().getCoverPhotoSrc())}" style="width:auto;height:80px">
                        </td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.authorities}" sec:authorize="hasRole('ADMIN')"></td>
                        <td>
                            <a th:href="@{/myPage/{id}(id=${user.userId})}" class="btn btn-warning"><i
                                    class="w3-button w3-theme-d2 w3-margin-bottom">Go to User Page</i></a>
                        </td>
                        <td>
                            <div sec:authorize="hasRole('ADMIN')">
                                <a th:href="@{/users/update/{id}(id=${user.userId})}" class="btn btn-warning">
                                    <i class="w3-button w3-theme-d2 w3-margin-bottom">update</i></a>
                            </div>
                        </td>
                        <td>
                            <div sec:authorize="hasRole('ADMIN')">
                                <a th:href="@{/users/delete/{id}(id=${user.userId})}" class="btn btn-warning">
                                    <i class="w3-button w3-theme-d2 w3-margin-bottom">deactivate user</i></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <a th:href="@{/}" class="btn btn-warning">
                        <i class="w3-button w3-theme-d2 w3-margin-bottom">Home page</i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="~{fragments/footer}"></th:block>
<th:block th:include="~{fragments/scripts}"></th:block>
</body>
</html>