<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="icon" type="image/png" th:href="@{/pictures/fav.png}" href="../static/pictures/fav.png">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/w3.css}" type="text/css" href="../static/css/w3.css">
    <link rel="stylesheet" th:href="@{/css/color-theme.css}" type="text/css" href="../static/css/color-theme.css">
    <link rel="stylesheet" th:href="@{/css/css_googleapis_open_sans.css}" type="text/css"
          href="../static/css/css_googleapis_open_sans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>All request offers for stand-up comedians</title>
</head>
<body>

<th:block th:include="~{fragments/navbar-top}"></th:block>

<div class="w3-container w3-content" style="max-width:800%; padding:3%;">
    <div class="w3-card w3-round w3-white w3-center">
        <div class="container my-2">
            <div th:if="${allPublicPosts.isEmpty()}">
                <h2>All request offers for stand-up comedians is empty</h2>
            </div>
            <h2>All request offers for stand-up comedians</h2>
        </div>
    </div>
</div>

<div class="w3-container w3-content" style="max-width:800%; padding:3%">
    <div class="w3-card w3-round w3-white">
        <div class="container my-2">
            <div th:unless="${allPublicPosts.isEmpty()}">
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th style="padding-top: 60px">Photo</th>
                        <th style="padding-top: 60px">Author</th>
                        <th style="padding-top: 60px">Post title</th>
                        <th style="padding-top: 60px">Post body</th>
                        <th style="padding-top: 60px">Create time</th>
                        <th style="padding-top: 60px"></th>
                        <th style="padding-top: 60px">Like post</th>
                        <th style="padding-top: 60px">Comments</th>
                        <th style="padding-top: 60px">Update</th>
                        <th style="padding-top: 60px">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:each="post:${allPublicPosts}">
                        <div th:if="${post.author.photo.privacy.privacyType =='public'}">
                            <td>
                                <img th:src="${(post.author.getPhoto().getPhotoSrc())}"
                                     style="height:30px; width: 30px; border-radius: 50%">
                            </td>
                        </div>
                        <div th:unless="${post.author.photo.privacy.privacyType =='public'}">
                            <td>
                                <img th:attr="src=@{/pictures/default_avatar.png}"
                                     src="..\static\pictures\default_avatar.png"
                                     style="height:30px; width: 30px; border-radius: 50%">
                            </td>
                        </div>
                        <td th:text="${post.author.getFirstName()} + ${', '} + ${post.author.getLastName()}"></td>
                        <td th:text="${post.title}"></td>
                        <td th:utext="${post.postMessage}"></td>
                        <td th:text="${post.timeStamp}"></td>
                        <td th:text="${post.getUsersWhoLikedPost().size()}"></td>
                        <td>
                            <form th:action="@{/posts/like/{id}(id=${post.postId}, page='adults')}" method="post">
                                <button type="submit" class="w3-button w3-theme-d2 w3-margin-bottom">like</button>
                            </form>
                        </td>
                        <td>
                            <a th:href="@{/comments/new/{id}(id=${post.postId})}" class="btn btn-warning"><i
                                    class="w3-button w3-theme-d2 w3-margin-bottom">add comment</i></a>
                        </td>
                        <td>
                            <div th:if="*{user != null && user == post.author}">
                                <a th:href="@{/posts/update/{id}(id=${post.postId})}" class="btn btn-warning"><i
                                        class="w3-button w3-theme-d2 w3-margin-bottom">update</i></a>
                            </div>
                        </td>

                        <td>
                            <div th:if="*{user != null && user == post.author}">
                                <a th:href="@{/posts/delete/{id}(id=${post.postId})}" class="btn btn-warning"><i
                                        class="w3-button w3-theme-d2 w3-margin-bottom">delete</i></a>
                            </div>
                        </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="~{fragments/footer}"></th:block>
<th:block th:include="~{fragments/scripts}"></th:block>
</body>
</html>