<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="icon" type="image/png" th:href="@{/pictures/fav.png}" href="../static/pictures/fav.png">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/w3.css}" type="text/css" href="../static/css/w3.css">
    <link rel="stylesheet" th:href="@{/css/color-theme.css}" type="text/css" href="../static/css/color-theme.css">
    <link rel="stylesheet" th:href="@{/css/css_googleapis_open_sans.css}" type="text/css"
          href="../static/css/css_googleapis_open_sans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>All comments</title>
</head>
<body>

<div id="background-page" th:style="'background-image: url(' + '/pictures/background2.jpg' + ');'"
     style="background-image: url(../static/pictures/background2.jpg); min-height: 100vh">
    <!-- NAVBAR START -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
               href="javascript:void(0);" onclick="openNav()">
                <em class="fa fa-bars"></em>
            </a>

           <a href="index.html" th:href="@{/}"
                       class="w3-bar-item w3-button w3-padding-large w3-theme-d4">
                        <em class="fa fa-home w3-margin-right"></em>Funimation
                    </a>
 <div class="modal" id="searchingNow">
                             <!-- Modal content -->
                        <div class="modal-content" id="modalSearching">
                            <img th:attr="src=@{/pictures/searching.gif}"
                            src="../static/pictures/searching.gif" style="margin-left: 40%; justify-content: center;"></img>
                        </div>
                    </div>

                    <a sec:authorize="isAuthenticated()" href="index1_model.html" th:href="@{/index1}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News">
                        <em class="fa fa-globe"></em>
                    </a>

            <a href="#" sec:authorize="isAuthenticated()" th:href="@{/myPage/{id}(id=${user.userId})}"
               class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
               title="My page"><em class="fa fa-address-card-o"></em></a>

            <div class="w3-dropdown-hover w3-hide-small w3-right">
                <a href="#" sec:authorize="isAuthenticated()" class="w3-button w3-padding-large">
                    <img th:src="${(user.getPhoto().getPhotoSrc())}" class="w3-circle" style="height: 23px; width: 23px" alt="Avatar">
                </a>
                <div sec:authorize="isAuthenticated()" class="w3-dropdown-content w3-card-4 w3-bar-block" style="right: 0">
                    <a th:href="@{/myPage/{id}(id=${user.userId})}" class="w3-bar-item w3-button" >My Account</a>
                    <a th:href="@{/users/update/{id}(id=${user.userId})}" class="w3-bar-item w3-button" >Edit profile</a>
                    <a th:href="@{/forgot-password}" class="w3-bar-item w3-button  ">Change password</a>
                    <a th:href="@{/logout}" class="w3-bar-item w3-button" >Log out</a>
                    <a th:href="@{/users/delete/{id}(id=${user.userId})}" class="w3-bar-item w3-button">Deactivate user</a>
                    <a th:href="@{/changeEmail}" class="w3-bar-item w3-button">Change e-mail address</a>
                </div>
            </div>
            <div class="w3-dropdown-hover w3-hide-small w3-right">
                <a href="#" sec:authorize="hasRole('ROLE_ADMIN')" class="w3-button w3-padding-large"
                   title="Administrator menu">
                    ADMIN
                </a>
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="w3-dropdown-content w3-card-4 w3-bar-block"
                     style="right: 0">
                    <a th:href="@{/users}" class="w3-bar-item w3-button">All users</a>
                    <a th:href="@{/posts/admin}" class="w3-bar-item w3-button">Posts</a>
                    <a th:href="@{/comments}" class="w3-bar-item w3-button">Comments</a>
                    <a th:href="@{/replyComments}" class="w3-bar-item w3-button">Replies to comments</a>
                    <a th:href="@{/cities}" class="w3-bar-item w3-button">Edit cities</a>
                </div>
            </div>
            <a sec:authorize="!isAuthenticated()" href="#" th:href="@{/index1}"
               class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
               title="Login"> Login
            </a>
            <a href="#" sec:authorize="!isAuthenticated()" th:href="@{/registration}"
               class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white">Register</a>

            <div class="w3-bar-item w3-right w3-cell-middle" style="width: 400px">
                        <form th:action="@{/search}" method="post" accept-charset="UTF-8" style="width: 100%; padding-top: 1%; alignment: right">
                            <input name="filterParam" placeholder="Type name, e-mail or post" type="text" accept-charset="UTF-8"
                                   style="width: 80%; font-size:1rem;">
                            <button id="searchAnimation" type="submit" class="fa fa-search" style="background: transparent; border: none; color: white;"/>

                            </input>
                        </form>
                    </div>

        </div>
    </div>
    <!-- Navbar on small screens -->
    <div id="navMobileLinks" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">My
            Profile</a></div>
    <!-- NAVBAR END -->
    <!-- PAGE AREA START -->
    <!-- Page Container -->

    <div class="w3-container w3-content" style="max-width:100vh;padding: 3%;margin-top:50px">
        <!-- The Grid -->
        <div class="w3-row">
            <div class="w3-card w3-round w3-white w3-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div th:if="${allComments.isEmpty()}">
                            <h2 th:text="#{commentTable.header.noComments}">No Comments</h2>
                        </div>
                        <h2 class="header" th:text="#{commentTable.header}">Comments (design)</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w3-container w3-content" style="max-width:800%;padding: 3%;margin-top:50px">
        <!-- The Grid -->
        <div class="w3-row">
            <div class="w3-card w3-round w3-white w3-left">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div th:unless="${allComments.isEmpty()}">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                <tr>
                                    <th style="padding-top: 60px">Post title</th>
                                    <th style="padding-top: 60px">Post body</th>
                                    <th style="padding-top: 60px"></th>
                                    <th style="padding-top: 60px">Author</th>
                                    <th style="padding-top: 60px">Create time</th>
                                    <th style="padding-top: 60px">Comments</th>
                                    <th style="padding-top: 60px">Comment Reply</th>
                                    <th style="padding-top: 60px">Update</th>
                                    <th style="padding-top: 60px">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="comment:${allComments}">
                                    <td th:text="${comment.post.title}"></td>
                                    <td width="20%" th:text="${comment.post.postMessage}"></td>
                                    <td>
                                        <img th:src="${(comment.user.getPhoto().getPhotoSrc())}"
                                             style="height:30px; width: 30px; border-radius: 50%"></td>
                                    <td th:text="${comment.user.getFirstName()} + ${' '} + ${comment.user.getLastName()}"></td>
                                    <td style="font-size: small" width="7%" th:text="${comment.timeStamp}"></td>
                                    <td style="padding-left:10px" width="15%" th:text="${comment.commentBody}"></td>
                                    <td align="right">
                                        <a th:href="@{/replyComments/new/{id}(id=${comment.commentId})}"
                                           class="btn btn-warning"><i
                                                class="w3-button w3-theme-d2 w3-margin-bottom" style="font-size: xx-small; white-space: normal; word-wrap: break-word; height: 43px">add reply</i></a>
                                    </td>
                                    <td>
                                        <a th:href="@{/comments/update/{id}/{postId}(id=${comment.commentId},postId=${comment.post.postId})}"
                                           class="btn btn-warning"><i
                                                class="w3-button w3-theme-d2 w3-margin-bottom" style="font-size: xx-small; white-space: normal; word-wrap: break-word;">update comment</i></a>
                                    </td>

                                    <td>
                                        <a th:href="@{/comments/delete/{id}/{postId}(id=${comment.commentId},postId=${comment.post.postId})}"
                                           class="btn btn-warning"><i
                                                class="w3-button w3-theme-d2 w3-margin-bottom" style="font-size: xx-small; white-space: normal; word-wrap: break-word;">delete comment</i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="w3-container w3-theme-d3 w3-padding-16" style="text-align: left">
    <h5><i class="fa fa-copyright" aria-hidden="true"></i> 2019 Team1 Telerik Academy Alpha Java</h5>
</footer>

<footer class="w3-container w3-theme-d5" style="text-align: left">
    <p>...
        <a href="#" th:href="@{/swagger-ui.html}">Application API</a></p>

</footer>
<footer class="w3-container w3-theme-d5" style="text-align: left; margin-top: -80px;">
</footer>
<!-- PAGE AREA END -->

<script th:attr="src=@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<script th:attr="src=@{/js/init.js}" src="../static/js/init.js"></script>
<script th:attr="src=@{/js/users_infinite_scroll.js}" src="../static/js/users_infinite_scroll.js"></script>
</body>
</html>