<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="icon" type="image/png" th:href="@{/pictures/fav.png}" href="../static/pictures/fav.png">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/w3.css}" type="text/css" href="../static/css/w3.css">
    <link rel="stylesheet" th:href="@{/css/color-theme.css}" type="text/css" href="../static/css/color-theme.css">
    <link rel="stylesheet" th:href="@{/css/css_googleapis_open_sans.css}" type="text/css"
          href="../static/css/css_googleapis_open_sans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>All replies</title>
</head>
<body>
<th:block th:include="~{fragments/navbar-top}"></th:block>
<div class="w3-container w3-content" style="max-width:800%;padding: 3%;">
    <!-- The Grid -->
    <div class="w3-row">
        <div class="w3-card w3-round w3-white w3-center">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="container my-2">
                        <div th:if="${allReplyComments.isEmpty()}">
                            <h2 th:text="#{replyTable.header.noReply}">No Replies</h2>
                        </div>
                        <h2 class="header" th:text="#{replyTable.header}">Replies (design)</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w3-row">
    <div class="w3-card w3-round w3-white w3-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="container my-2">
                    <div th:unless="${allReplyComments.isEmpty()}">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr >
                                <th style="padding-top: 60px">Post title</th>
                                <th style="padding-top: 60px">Post body</th>
                                <th style="padding-top: 60px">Comment</th>
                                <th style="padding-top: 60px">Reply</th>
                                <th style="padding-top: 60px"></th>
                                <th style="padding-top: 60px">Author</th>
                                <th style="padding-top: 60px">Create time</th>
                                <th style="padding-top: 60px">Update</th>
                                <th style="padding-top: 60px">Delete</th>
                            </tr>

                            </thead>
                            <tbody>
                            <tr th:each="reply:${allReplyComments}">
<!--                                <td  th:text="${reply.replyComment.post.title}"></td>-->
                                <td  th:text="${reply.post.title}"></td>
                                <td th:text="${reply.post.postMessage}"></td>
                                    <td th:text="${reply.commentToReply.commentBody}"></td>
                                <td th:text="${reply.commentBody}"></td>
                                <td>
                                    <img th:src="${(reply.user.getPhoto().getPhotoSrc())}"
                                         style="height:30px; width: 30px; border-radius: 50%"></td>
                                <td th:text="${reply.user.getFirstName()} + ${' '} + ${reply.user.getLastName()}"></td>
                                <td th:text="${reply.timeStamp}"></td>
                                <td>
                                    <a th:href="@{/replyComments/update/{id}(id=${reply.commentId})}"
                                       class="btn btn-warning"><i
                                            class="w3-button w3-theme-d2 w3-margin-bottom">update reply</i></a>
                                </td>

<!--                                <td>-->
<!--                                    <a th:href="@{/replyComments/delete/{id}(id=${reply.commentId})}"-->
<!--                                       class="btn btn-warning"><i-->
<!--                                            class="w3-button w3-theme-d2 w3-margin-bottom">delete reply</i></a>-->
<!--                                </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="~{fragments/footer}"></th:block>
<th:block th:include="~{fragments/scripts}"></th:block>
</body>
</html>