<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:crs="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>All Post Comments</title>
</head>
<div th:if="${(post.author == user) || friends || (post.privacy.privacyType =='public')}">
    <body>
    <th:block th:include="~{fragments/navbar-top}"></th:block>
    <!-- The Grid -->
    <div class="w3-col m3" style="min-height: 100vh">
        <div class="w3-card w3-round w3-white w3-padding">
            <table class="table table-striped table-responsive-md">
                <tr>
                    <td><b>Post title:</b></td>
                    <td th:text="${post.title}"></td>
                </tr>
                <tr>
                    <td><b>Post body:</b></td>
                    <td th:text="${post.postMessage}"></td>
                </tr>
            </table>
                        <a th:href="@{/comments/new/{id}(id=${post.postId})}" class="btn btn-warning"><i
                                class="w3-button w3-theme-d2 w3-margin-bottom">add new comment to Post</i></a>
                        <input type="hidden" th:field="*{postId}">
        </div>
    </div>
    <div class="w3-col m9 w3-padding" id="index-middle-column-1">
            <table>
                <thead>
                <tr>
                    <th style="padding-top: 60px">Photo</th>
                    <th style="padding-top: 60px;margin-left: 25px">Author</th>
                    <th style="padding-top: 60px;margin-left: 50px">Create time</th>
                    <th style="padding-top: 60px;margin-left: 70px">Comments</th>
                    <th style="padding-top: 60px;margin-left: 70px">Replies</th>
                    <th style="padding-top: 60px">Update</th>
                    <th style="padding-top: 60px">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="comment:${allComments}">
                    <div th:if="${post.author.photo.privacy.privacyType =='public' || friends || post.author == user}">
                        <td>
                            <img th:src="${(comment.user.getPhoto().getPhotoSrc())}"
                                 style="height:30px; width: 30px; border-radius: 50%"></td>
                    </div>
                    <div th:unless="${post.author.photo.privacy.privacyType =='public' || friends || post.author == user}">
                        <td>
                            <img th:attr="src=@{/pictures/default_avatar.png}"
                                 src="..\static\pictures\default_avatar.png"
                                 style="height:30px; width: 30px; border-radius: 50%">
                        </td>
                    </div>
                    <td th:text="${comment.user.getFirstName()} + ${' '} + ${comment.user.getLastName()}"></td>
                    <td th:text="${comment.timeStamp}" style="font-size: small"></td>
                    <td th:text="${comment.commentBody}"></td>
                    <td>
                        <a th:href="@{/replyComments/byComment/{id}(id=${comment.commentId})}" class="btn btn-warning">
                            <i class="w3-button w3-theme-d2 w3-margin-bottom" style="font-size: small">
                                show replies to comment</i></a>
                    </td>
                    <td>
                        <div th:if="*{ user == comment.user}">
                            <a th:href="@{/comments/update/{id}/{postId}(id=${comment.commentId},postId=${postId})}"
                               class="btn btn-warning">
                                <i class="w3-button w3-theme-d2 w3-margin-bottom" style="font-size: small">
                                    update comment</i></a>
                        </div>
                    </td>
                    <td>
                        <div th:if="*{user == comment.user}">
                            <a th:href="@{/comments/delete/{id}/{postId}(id=${comment.commentId},postId=${postId})}" class="btn btn-warning">
                                <i class="w3-button w3-theme-d2 w3-margin-bottom" style="font-size: small">
                                    delete comment</i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    <th:block th:include="~{fragments/footer}"></th:block>
    <th:block th:include="~{fragments/scripts}"></th:block>

    </body>
</div>
<div th:unless="${(post.author == user) || friends || (post.privacy.privacyType =='public')}">
    <body>
    <th:block th:include="~{fragments/navbar-top}"></th:block>
    <div class="w3-container w3-content"
         style="max-width:650px; min-height:70vh; padding: 3%; margin-top:40px; margin-left:30px">
        <!-- The Grid -->
        <div class="w3-row w3-padding">
            <div>
                <h3><b>Your are not allowed to see the post</b></h3>
            </div>
        </div>
    </div>

    <th:block th:include="~{fragments/footer}"></th:block>
    <th:block th:include="~{fragments/scripts}"></th:block>

    </body>
</div>
</html>