<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>All Comment's replies</title>
</head>
<div th:if="${(comment.post.author == user) || friends || (comment.post.privacy.privacyType =='public')}">
    <body>

    <th:block th:include="~{fragments/navbar-top}"></th:block>
    <!-- The Grid -->
    <div class="w3-col m3" style="min-height: 100vh">
        <div class="w3-card w3-round w3-white w3-padding">
            <table class="table table-striped table-responsive-md">
                <tr>
                    <td><b>Post title:</b></td>
                    <td th:text="${comment.post.title}"></td>
                </tr>
                <tr>
                    <td><b>Post body:</b></td>
                    <td th:text="${comment.post.postMessage}"></td>
                </tr>
                <tr>
                    <td><b>Comment:</b></td>
                    <td th:text="${comment.commentBody}"></td>
                </tr>
            </table>
            <a th:href="@{/replyComments/new/{id}(id=${comment.commentId})}" class="btn btn-warning"><i
                    class="w3-button w3-theme-d2 w3-margin-bottom">add new reply to comment</i></a>
        </div>
    </div>
    <div class="w3-col m9 w3-padding" id="index-middle-column-1">
        <table>
            <thead>
            <tr>
                <th style="padding-top: 60px">Photo</th>
                <th style="padding-top: 60px;margin-left: 25px">Author</th>
                <th style="padding-top: 60px;margin-left: 50px">Create time</th>
                <th style="padding-top: 60px;margin-left: 70px">Replies</th>
                <th style="padding-top: 60px">Update</th>
                <th style="padding-top: 60px">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reply:${allReplyComments}">
                <div th:if="${reply.user.photo.privacy.privacyType =='public' || friends || reply.user == user}">
                    <td>
                        <img th:src="${(reply.user.getPhoto().getPhotoSrc())}"
                             style="height:30px; width: 30px; border-radius: 50%"></td>
                </div>
                <div th:unless="${reply.user.photo.privacy.privacyType =='public' || friends || reply.user == user}">
                    <td>
                        <img th:attr="src=@{/pictures/default_avatar.png}" src="..\static\pictures\default_avatar.png"
                             style="height:30px; width: 30px; border-radius: 50%">
                    </td>
                </div>
                <td th:text="${reply.user.getFirstName()} + ${' '} + ${reply.user.getLastName()}"></td>
                <td th:text="${reply.timeStamp}" style="font-size: small"></td>
                <td th:text="${reply.commentBody}"></td>
                <td>
                    <div th:if="*{ user == reply.user}">
                        <a th:href="@{/replyComments/update/{id}(id=${reply.commentId})}"
                           class="btn btn-warning"><i
                                class="w3-button w3-theme-d2 w3-margin-bottom" style="font-size: small">update reply</i></a>
                    </div>
                </td>

<!--                <td>-->
<!--                    <div th:if="*{user == reply.user}">-->
<!--                        <a th:href="@{/replyComments/delete/{id}(id=${reply.commentId})}"-->
<!--                           class="btn btn-warning"><i-->
<!--                                class="w3-button w3-theme-d2 w3-margin-bottom" style="font-size: small">delete-->
<!--                            reply</i></a>-->
<!--                    </div>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <th:block th:include="~{fragments/footer}"></th:block>
    <th:block th:include="~{fragments/scripts}"></th:block>

    </body>
</div>
<div th:unless="${(comment.post.author == user) || friends || (comment.post.privacy.privacyType =='public')}">
    <body>
    <th:block th:include="~{fragments/navbar-top}"></th:block>
    <div class="w3-container w3-content"
         style="max-width:650px; min-height:70vh; padding: 3%; margin-top:40px; margin-left:30px">
        <!-- The Grid -->
        <div class="w3-row w3-padding">
            <div>
                <h3>Your are not allowed to see the comment and its replies</h3>
            </div>
        </div>
    </div>
    <th:block th:include="~{fragments/footer}"></th:block>
    <th:block th:include="~{fragments/scripts}"></th:block>

    </body>
</div>
</html>