<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"></th:block>

    <title>All Posts</title>
</head>

<th:block th:include="~{fragments/navbar-top}"></th:block>

<body>
<div class="w3-card w3-round w3-white w3-center">
    <div class="container my-2">
        <div th:if="${allPublicPosts.isEmpty()}">
            <h2 th:text="#{postsTable.header.noPosts}">No Posts</h2>
        </div>
        <h2 class="header" th:text="#{postTable.header}">Posts (design)</h2>
    </div>

    <div class="container my-2">
        <div th:unless="${allPublicPosts.isEmpty()}">
            <table class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th style="padding-top: 60px">Photo</th>
                    <th style="padding-top: 60px">Author</th>
                    <th style="padding-top: 60px">Post title</th>
                    <th style="padding-top: 60px">Post body</th>
                    <th style="padding-top: 60px">Likes</th>
                    <th style="padding-top: 60px">Create time</th>
                    <th style="padding-top: 60px" sec:authorize="isAuthenticated()">Comments</th>
                    <th style="padding-top: 60px" sec:authorize="isAuthenticated()">Like post</th>
                    <th style="padding-top: 60px" sec:authorize="isAuthenticated()">Update</th>
                    <th style="padding-top: 60px" sec:authorize="isAuthenticated()">Delete</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="post:${allPublicPosts}">
                    <div th:if="${post.author.photo.privacy.privacyType =='public'}">
                        <td>
                            <img th:src="${(post.author.getPhoto().getPhotoSrc())}"
                                 style="height:30px; width: 30px; border-radius: 50%">
                        </td>
                    </div>
                    <div th:unless="${post.author.photo.privacy.privacyType =='public'}">
                        <td>
                            <img th:attr="src=@{/pictures/default_avatar.png}"
                                 src="..\static\pictures\default_avatar.png"
                                 style="height:30px; width: 30px; border-radius: 50%">
                        </td>
                    </div>
                    <td th:text="${post.author.getFirstName()} + ${', '} + ${post.author.getLastName()}"></td>
                    <td th:text="${post.title}"></td>
                    <td th:utext="${post.postMessage}"></td>
                    <td th:text="${post.getUsersWhoLikedPost().size()}"></td>
                    <td th:text="${post.timeStamp}" style="font-size: x-small"></td>
                    <td>
                        <a sec:authorize="isAuthenticated()" th:href="@{/comments/new/{id}(id=${post.postId})}" class="btn btn-warning"><i
                                class="w3-button w3-theme-d2 w3-margin-bottom">add comment</i></a>
                    </td>
                    <td>
                        <form sec:authorize="isAuthenticated()" th:action="@{/posts/like/{id}(id=${post.postId}, page='one')}" method="post">
                            <button type="submit" class="w3-button w3-theme-d2 w3-margin-bottom">like</button>
                        </form>
                    </td>
                    <td>
                        <div th:if="*{user != null && user == post.author}">
                            <a th:href="@{/posts/update/{id}(id=${post.postId})}" class="btn btn-warning"><i
                                    class="w3-button w3-theme-d2 w3-margin-bottom">update</i></a>
                        </div>
                    </td>
                    <td>
                        <div th:if="*{user != null && user == post.author}">
                            <a th:href="@{/posts/delete/{id}(id=${post.postId})}" class="btn btn-warning"><i
                                    class="w3-button w3-theme-d2 w3-margin-bottom">delete</i></a>
                        </div>
                    </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>

<th:block th:include="~{fragments/footer}"></th:block>
<th:block th:include="~{fragments/scripts}"></th:block>

</body>
</html>