<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" th:href="@{/pictures/fav.png}" href="../static/pictures/fav.png">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/w3.css}" type="text/css" href="../static/css/w3.css">
    <link rel="stylesheet" th:href="@{/css/color-theme.css}" type="text/css" href="../static/css/color-theme.css">
    <link rel="stylesheet" th:href="@{/css/css_googleapis_open_sans.css}" type="text/css"
          href="../static/css/css_googleapis_open_sans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Funimation - Terms and Conditions</title>
</head>
<body>
<div id="background-page" th:style="'background-image: url(' + '/pictures/background2.jpg' + ');'"
     style="background-image: url(../static/pictures/background2.jpg);">
    <!-- NAVBAR START -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
               href="javascript:void(0);" onclick="openNav()">
                <em class="fa fa-bars"></em>
            </a>

            <a href="index.html" th:href="@{/}"
               class="w3-bar-item w3-button w3-padding-large w3-theme-d4">
                <em class="fa fa-home w3-margin-right"></em>Funimation
            </a>
            <div class="modal" id="searchingNow">
                <!-- Modal content -->
                <div class="modal-content" id="modalSearching">
                    <img th:attr="src=@{/pictures/searching.gif}"
                         src="../static/pictures/searching.gif" alt="search"
                         style="margin-left: 40%; justify-content: center;"/>
                </div>
            </div>

            <a href="#" th:href="@{/registration}"
               class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white">Register</a>
        </div>
    </div>
    <!-- Navbar on small screens -->
    <div id="navMobileLinks" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">My
            Profile</a></div>
    <!-- NAVBAR END -->
    <!-- PAGE AREA START -->
    <!-- Page Container -->

    <!--    <div id="background-page" th:style="'background-image: url(' + '/pictures/background1.jpg' + ');'"-->
    <!--         style="background-image: url(/static/pictures/background1.jpg);">-->
    <!-- Page Container -->

    <div class="w3-container w3-content" style="max-width:1900px;margin-top:70px;">
        <!-- The Grid -->
        <div class="w3-row">

            <!-- PAGE AREA START -->
            <div class="w3-col " id="index-middle-column-1">
                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <div class="w3-card w3-round w3-white">
                            <div class="w3-container w3-padding">

                                <h1>Terms and Conditions ("Terms")</h1>


                                <p>Last updated: November 09, 2019</p>
                                <hr>

                                <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions")
                                    carefully
                                    before using the funimation.ml website (the "Service") operated by Funimation
                                    ("us",
                                    "we", or "our").</p>

                                <p>Your access to and use of the Service is conditioned on your acceptance of and
                                    compliance with these Terms. These Terms apply to all visitors, users and others
                                    who
                                    access or use the Service.</p>

                                <p>By accessing or using the Service you agree to be bound by these Terms. If you
                                    disagree with any part of the terms then you may not access the Service. </p>


                                <h2>Accounts</h2>

                                <p>When you create an account with us, you must provide us information that is
                                    accurate,
                                    complete, and current at all times. Failure to do so constitutes a breach of the
                                    Terms, which may result in immediate termination of your account on our
                                    Service.</p>

                                <p>You are responsible for safeguarding the password that you use to access the
                                    Service
                                    and for any activities or actions under your password, whether your password is
                                    with
                                    our Service or a third-party service.</p>

                                <p>You agree not to disclose your password to any third party. You must notify us
                                    immediately upon becoming aware of any breach of security or unauthorized use of
                                    your account.</p>


                                <h2>Links To Other Web Sites</h2>

                                <p>Our Service may contain links to third-party web sites or services that are not
                                    owned
                                    or controlled by Funimation.</p>

                                <p>Funimation has no control over, and assumes no responsibility for, the content,
                                    privacy policies, or practices of any third party web sites or services. You
                                    further
                                    acknowledge and agree that Funimation shall not be responsible or liable,
                                    directly
                                    or indirectly, for any damage or loss caused or alleged to be caused by or in
                                    connection with use of or reliance on any such content, goods or services
                                    available
                                    on or through any such web sites or services.</p>

                                <p>We strongly advise you to read the terms and conditions and privacy policies of
                                    any
                                    third-party web sites or services that you visit.</p>


                                <h2>Termination</h2>

                                <p>We may terminate or suspend access to our Service immediately, without prior
                                    notice
                                    or liability, for any reason whatsoever, including without limitation if you
                                    breach
                                    the Terms.</p>

                                <p>All provisions of the Terms which by their nature should survive termination
                                    shall
                                    survive termination, including, without limitation, ownership provisions,
                                    warranty
                                    disclaimers, indemnity and limitations of liability.</p>

                                <p>We may terminate or suspend your account immediately, without prior notice or
                                    liability, for any reason whatsoever, including without limitation if you breach
                                    the
                                    Terms.</p>

                                <p>Upon termination, your right to use the Service will immediately cease. If you
                                    wish
                                    to terminate your account, you may simply discontinue using the Service.</p>

                                <p>All provisions of the Terms which by their nature should survive termination
                                    shall
                                    survive termination, including, without limitation, ownership provisions,
                                    warranty
                                    disclaimers, indemnity and limitations of liability.</p>


                                <h2>Governing Law</h2>

                                <p>These Terms shall be governed and construed in accordance with the laws of
                                    Bulgaria,
                                    without regard to its conflict of law provisions.</p>

                                <p>Our failure to enforce any right or provision of these Terms will not be
                                    considered a
                                    waiver of those rights. If any provision of these Terms is held to be invalid or
                                    unenforceable by a court, the remaining provisions of these Terms will remain in
                                    effect. These Terms constitute the entire agreement between us regarding our
                                    Service, and supersede and replace any prior agreements we might have between us
                                    regarding the Service.</p>


                                <h2>Changes</h2>

                                <p>We reserve the right, at our sole discretion, to modify or replace these Terms at
                                    any
                                    time. If a revision is material we will try to provide at least 30 days notice
                                    prior
                                    to any new terms taking effect. What constitutes a material change will be
                                    determined at our sole discretion.</p>

                                <p>By continuing to access or use our Service after those revisions become
                                    effective,
                                    you agree to be bound by the revised terms. If you do not agree to the new
                                    terms,
                                    please stop using the Service.</p>


                                <h2>Contact Us</h2>

                                <p>If you have any questions about these Terms, please contact us.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <!-- PAGE AREA END -->


    <footer class="w3-container w3-theme-d3 w3-padding-16" style="text-align: left">
        <h5><i class="fa fa-copyright" aria-hidden="true"></i> 2019 Team1 Telerik Academy Alpha Java</h5>
    </footer>

    <footer class="w3-container w3-theme-d5" style="text-align: left">
        <p>...
            <a href="#" th:href="@{/swagger-ui.html}">Application API</a></p>

    </footer>
    <footer class="w3-container w3-theme-d5" style="text-align: left; margin-top: -80px;">
    </footer>
    <!-- PAGE AREA END -->
</div>

<script th:attr="src=@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
<script th:attr="src=@{/js/init.js}" src="../static/js/init.js"></script>
<script th:attr="src=@{/js/users_infinite_scroll.js}"
        src="../static/js/users_infinite_scroll.js"></script>

</body>
</html>