<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="icon" type="image/png" th:href="@{/pictures/fav.png}" href="../static/pictures/fav.png">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/w3.css}" type="text/css" href="../static/css/w3.css">
    <link rel="stylesheet" th:href="@{/css/color-theme.css}" type="text/css" href="../static/css/color-theme.css">
    <link rel="stylesheet" th:href="@{/css/css_googleapis_open_sans.css}" type="text/css"
          href="../static/css/css_googleapis_open_sans.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>User Page</title>
</head>
<div th:if="*{user == author || friends}">
    <body>
    <th:block th:include="~{fragments/navbar-top}"></th:block>
    <!--    <div class="container my-2">-->
    <div class="w3-col m3" style="min-height: 90vh">
        <div class="w3-card w3-round w3-white w3-padding">
            <table class="table table-striped table-responsive-md">
                <tr>
                    <img th:src="${(author.getPhoto().getCoverPhotoSrc())}"
                         style="width:95%">
                </tr>
                <tr>
                    <td>
                        <img th:src="${(author.getPhoto().getPhotoSrc())}"
                             style="height:60px; width: 60px;"></td>
                    <td style="font-weight: bold"
                        th:text="${author.getFirstName()} + ${' '} + ${author.getLastName()}"></td>
                </tr>
                <tr>
                    <td>City:
                    <td th:text="${author.city.cityName} + ${', '}+${author.city.country.countryName}"></td>
                </tr>
                <tr>
                    <td>Occupation:</td>
                    <td th:text="${author.occupation.occupationArea}"></td>

                </tr>
                <tr>
                    <div th:if="*{user == author}">
                        <td><a th:href="@{/friendship/pendingFriendsList}" class="btn btn-warning"><i
                                class="w3-button w3-theme-d2" style="font-size: small">Pending request list</i></a></td>

                        <td><a th:href="@{/friendship/friendsList}" class="btn btn-warning"><i
                                class="w3-button w3-theme-d2" style="font-size: small">Friends list</i></a></td>
                    </div>
                </tr>
            </table>
        </div>
    </div>
    <!--</div>-->
    <div class="w3-col m9 w3-padding" id="index-middle-column-1">
        <div>

            <br>
            <br>
            <br>
            <br>
            <table>
                <tr>
                    <div class="w3-col m12">
                        <div class="w3-card w3-round w3-white">
                            <td align="left">
                                <div class="w3-container w3-padding">
                                    <a href="#" th:href="@{/posts/new}">
                                        <button type="button" class="w3-button w3-theme" style="margin-right: 5%">
                                            <i class="fa fa-pencil"></i> Post
                                        </button>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="w3-container w3-padding">
                                    <a href="#" th:href="@{/posts/newRequestOffer}">
                                        <button type="button" class="w3-button w3-theme" style="margin-left: 5%">
                                            <i class="fa fa-pencil"></i> Request for offer
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </div>
                    </div>
                </tr>
                <tr>
                    <td style="padding-top: 5px"><b>Post title</b></td>
                    <td style="padding-top: 5px"><b>post Body</b></td>
                    <td style="padding-top: 5px"><b>Update</b></td>
                    <td style="padding-top: 5px"><b>Delete</b></td>
                </tr>
                <tr th:each="post:${allUserPosts}">
                    <td th:text="${post.title}"></td>
                    <td th:text="${post.postMessage}"></td>
                    <td>
                        <a th:href="@{/comments/byPost/{id}(id=${post.postId})}" style="font-size: small" class="btn btn-warning">
                            <i class="w3-button w3-theme-d2 w3-margin">show comments</i></a>
                    </td>
                    <td>
                        <a th:href="@{/posts/update/{id}(id=${post.postId})}" style="font-size: small" class="btn btn-warning">
                            <i class="w3-button w3-theme-d2 w3-margin">update</i>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/posts/delete/{id}(id=${post.postId})}" style="font-size: small" class="btn btn-warning">
                            <i class="w3-button w3-theme-d2 w3-margin">delete</i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <th:block th:include="~{fragments/footer}"></th:block>
    <th:block th:include="~{fragments/scripts}"></th:block>
    </body>
</div>
<div th:unless="*{user == author || friends}">
    <body>
    <th:block th:include="~{fragments/navbar-top}"></th:block>
    <div class="container my-2">
        <div class="w3-col m3" style="min-height: 70vh">
            <div th:if="*{author.photo.privacy.privacyType =='public'}">
                <div class="w3-card w3-round w3-white w3-padding">
                    <table class="table table-striped table-responsive-md">
                        <tr>
                            <img th:src="${(author.getPhoto().getCoverPhotoSrc())}"
                                 style="width:95%">
                        </tr>
                        <tr>
                            <td>
                                <img th:src="${(author.getPhoto().getPhotoSrc())}"
                                     style="height:60px; width: 60px">
                            <td style="font-weight: bold"
                                th:text="${author.getFirstName()} + ${' '} + ${author.getLastName()}"></td>
                        </tr>
                        <tr>
                            <td>City:
                            <td th:text="${author.city.cityName} + ${', '}+${author.city.country.countryName}"></td>
                        </tr>
                        <tr>
                            <td>Occupation:
                            <td th:text="${author.occupation.occupationArea}"></td>
                        </tr>
                        <tr>
                            <td>
                                <a th:href="@{/friendship/request/{id}(id=${author.userId})}"
                                   class="w3-button w3-theme-d2"><i>
                                    Request friendship</i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="w3-col m3">
            <div th:unless="*{author.photo.privacy.privacyType =='public'}">
                <table class="table table-striped table-responsive-md">
                    <!--    <tr>-->
                    <!--    <td>-->
                    <tr>
                        <img th:attr="src=@{/pictures/default_avatar.png}" src="..\static\pictures\default_avatar.png"
                             style="height:30px; width: 30px; border-radius: 50%">
                        <td style="font-weight: bold"
                            th:text="${author.getFirstName()} + ${' '} + ${author.getLastName()}"></td>
                    </tr>

                    <!--    </td>-->
                    <!--    -->
                    <!--    </tr>-->
                    <tr>
                        <td>
                            <a th:href="@{/friendship/request/{id}(id=${author.userId})}" class="w3-button w3-theme-d2"><i>
                                Request friendship</i></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="w3-col m9 w3-padding" id="index-middle-column-2">
            <br>
            <br>
            <br>
            <br>

            <table>
                <tr>
                    <td style="padding-top: 5px"><b>Post title</b></td>
                    <td style="padding-top: 5px"><b>post Body</b></td>
                    <!--            <td>post Comment</td>-->
                </tr>
                <tr th:each="post:${userPublicPosts}">
                    <td th:text="${post.title}"></td>
                    <td th:text="${post.postMessage}"></td>

                    <td>
                        <a th:href="@{/comments/byPost/{id}(id=${post.postId})}" class="btn btn-warning"><i
                                class="w3-button w3-theme-d2 w3-margin">show comments</i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <th:block th:include="~{fragments/footer}"></th:block>
    <th:block th:include="~{fragments/scripts}"></th:block>
    </body>
</div>
</html>