<th:block th:fragment>
    <!--  Scripts-->
    <!--<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"-->
    <!--src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script th:attr="src=@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script th:attr="src=@{/js/init.js}" src="../static/js/init.js"></script>
    <script th:attr="src=@{/js/users_infinite_scroll.js}" src="../static/js/users_infinite_scroll.js"></script>
</th:block>