<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"

      type="text/css">
    <title>Sending Email with Thymeleaf HTML Template Example</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
  </head>
  <body style=" margin: 0; padding: 0;">
    <table style="border-collapse: collapse;" align="center" width="600" cellspacing="0"

      cellpadding="0" border="0">
      <tbody>
        <tr>
          <td style="padding: 40px 0 30px 0;" align="center" bgcolor="#78ab46">
            <p>Funimation</p>
          </td>
        </tr>
        <tr>
          <td style="padding: 40px 30px 40px 30px;" bgcolor="#eaeaea">
            <p th:text="${'Dear ' + user.firstName + ' ' + user.lastName}"></p>
            <p> To confirm your account, please click here: <a th:href="${confirmUrl}">confirm
                registration</a> </p>
            <p>Thanks!</p>
          </td>
        </tr>
        <tr>
          <td style="padding: 40px 30px 40px 30px;" bgcolor="#eaeaea">
            <p> The e-mail is generated automatically and replies sent to this
              mailbox cannot be answered. </p>
            <p>&#9400; 2019. The Funimation team.</p>
          </td>
        </tr>
        <!--        <td bgcolor="#777777" style="padding: 30px 30px 30px 30px;">-->
        <!--            <p th:text="${signature}"></p>-->
        <!--        </td>-->
      </tbody>
    </table>
  </body>
</html>
