<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <title>Sending Email with Thymeleaf HTML Template Example</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td align="center" bgcolor="#78ab46" style="padding: 40px 0 30px 0;">
            <p>Funimation</p>
        </td>
    </tr>
    <tr>
        <td bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px;">
            <p th:text="${'Dear ' + user.firstName + ' ' + user.lastName}"></p>
            <p>
                You've requested a password reset.
                <a th:href="${resetUrl}">reset/change your password</a>
            </p>
            <p>Thanks!</p>
        </td>
    </tr>
    <tr>
          <td style="padding: 40px 30px 40px 30px;" bgcolor="#eaeaea">
            <p> The e-mail is generated automatically and replies sent to this
              mailbox cannot be answered. </p>
            <p>&#9400; 2019. The Funimation team.</p>
          </td>
        </tr>

<!--        <td bgcolor="#777777" style="padding: 30px 30px 30px 30px;">-->
<!--            <p th:text="${signature}"></p>-->
<!--        </td>-->
    </table>
</body>
</html>