


#searchingNow {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#searchingNow.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#background-page {
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-attachment: fixed;
  padding: 1rem 0px;
}


#loading { display: none; }


.curtain {
  margin: 0px auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.curtain__wrapper {
  width: 100%;
  height: 100%;
}

.curtain__wrapper input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  top: 0px;
  left: 0px;
}

.curtain__wrapper input[type="checkbox"]:checked ~ div.curtain__panel--left {
  transform: translateX(0px);
}

.curtain__wrapper input[type="checkbox"]:checked ~ div.curtain__panel--right {
  transform: translateX(0px);
}

.curtain__panel {
  display: flex;
  align-items: center;
  background: #7c1414 none repeat scroll 0% 0%;
  color: white;
  float: left;
  position: relative;
  width: 50%;
  height: 100vh;
transition: all 1s ease-out 0s;
  z-index: 2;
}

.curtain__panel--left {
  justify-content: flex-end;
  transform: translateX(-100%);
}

.curtain__panel--right {
  justify-content: flex-start;
  transform: translateX(100%);
}

.curtain__content {
  /*background: #888888 none repeat scroll 0% 0%;*/
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 1rem 0px;
  position: absolute;
  text-align: center;
  z-index: 1;
  width: 100%;
}

.curtain__content img {
  width: 20%;
}

input[type="checkbox"]:not(:checked) {
  pointer-events: none;
}

#curtain1 {
transition: all 0s ease 0s;
}
